:root{
    --mentha-blue: #4EB4BE;
    --mentha-blue-dark: #1e7d85;
}

body{
    overflow-x: hidden;
    font-family: (--bs-body-font-family);
}

.mb-text{
    color: var(--mentha-blue)!important;
}

.mb-bg{
    background-color: var(--mentha-blue)!important;
}

.mb-btn{
    color: white!important;
    background-color: var(--mentha-blue)!important;
    border-color: var(--mentha-blue)!important;
}

.mb-btn-outline{
    color: var(--mentha-blue)!important;
    border-color: var(--mentha-blue)!important;;
}

.mb-btn-outline:hover{
    color: white!important;
    border-color: var(--mentha-blue)!important;
    background-color: var(--mentha-blue)!important;
    transition: 0.5 ease;
}




.transicao{
    transition: transform 0.3s ease-in-out;
}

.btn-group{
    font-weight: 600!important;
    color: white!important;
}

.icon-gray{
    color: #eeeeee!important;
    font-size: 1.5rem!important;
}

.icon-bg{
    color:white!important;
    font-size: 1.5rem!important;
}

.wrapper{
    display: flex;
}

#diario
{
    grid-area: aside;
}

.container-fluid{
    padding: 30px!important;
    grid-area: main!important;
}

#content {
    /* display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center; */

    display: grid;
    grid-template-columns: 1fr 0fr;
    grid-template-rows: 0px 1fr;
    grid-template-areas:    'video video'
                            'main aside' ;
    
    gap: 0px;
    width: calc(100% - 82px);
    margin: 0;
    margin-left: 82px;
    padding: 0;
    transition: 0.2s ease;
}

#videoconf{
    grid-area: video;

    overflow: hidden;
    
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 0px;
    margin: 0;

    transition: 1s ease;
}

.cameras{
    overflow: hidden;
    gap:15px;
    padding-left: 15px;
    padding-right: 15px;
    display:flex;
}

.user-camera{
    border-radius: 15px;
    width: 160px;
    height: 90px;
    background-color: whitesmoke;
    border: 2px solid rgba(0, 0, 0, 0.15);
}

.active{
    background-color:rgba(255, 255, 255, 0.35)!important;
    color:white!important;
    font-weight: 600!important;
    font-size: 1.3rem;
}

.nav-link{
  
    color:rgba(255, 255, 255, 0.90)!important;
}

.nav-link:hover{
    background-color:rgba(255, 255, 255, 0.20)!important;
    border-radius: 5px;
    font-weight: 600!important;
    transition: 0.2s ease;
}

.sidebar {
    grid-area: nav;

    z-index: 1;
    position:fixed!important;
    width: 82px;
    /* background-color: var(--mentha-blue); */
    background: rgb(76,158,166)!important;
    background: linear-gradient(344deg, rgba(76,158,166,1) 0%, rgba(66,197,210,1) 100%)!important;
    transition: 0.2s ease;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    place-content: stretch space-between;

    box-shadow: 2px 0 10px 0px rgba(0 ,0, 0, .3);
}

.nooverflow-nowrap{
    overflow: hidden;
    white-space: nowrap;
}

.brand-text{
    font-family: 'Nunito';
    color: white;
    height: 4.375rem;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    /* letter-spacing: .05rem; */
    z-index: 1;
}

.undecorated{
    text-decoration: none;
}

.nav.item{
    line-height: 3rem!important;
}

.nav-link {
    font-size: 0.90rem!important;
}

.content_large {
    width: 99%;
}

.sidebar_small {
    width: 0px!important;
}

.sidebar-toggle-btn {
    background-color: white!important;
    color:var(--mentha-blue)!important;

    position:absolute; 
    right:-30; 

    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    left: 100%;
    top: 2rem;
    transform: translateX(-50%);
    cursor: pointer;

    display:flex;
    justify-content: center;
    align-items: center;
}

.diario-toggle-btn {
    
    background-color:var(--mentha-blue)!important;
    color: white!important;

    position:absolute; 

    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    left: 100%;
    top: 2rem;
    transform: translateX(-50%);
    cursor: pointer;

    display:flex;
    justify-content: center;
    align-items: center;
}

#diario{
    border:none;
    border-radius: 0;
    height: 100vh;
    background: rgb(76,158,166)!important;
    background: linear-gradient(344deg, rgba(76,158,166,1) 0%, rgba(66,197,210,1) 100%)!important;
    transition: 0.3s ease;
}

#sidebar-content{
    transition: 0.2s ease;
}

.card-flex{
    display: flex;
    padding: 8px;
    justify-content: space-between;
    /* align-items: center; */
}

.btn-diario{
    background-color: rgba(255, 255, 255, 0.35)!important;
    color: white!important;
    border-radius: 0.375rem;
}


.selecionado{
    background-color: var(--mentha-blue-dark)!important;
    color: white!important;
    font-weight: 600!important;
    /*box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.064)!important;*/
}

.topo-exercicio{
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}

.tabela-sessao{
    color: white!important;
}

.tabela-sessao td{
    background-color: #4eb5be30;
}

.tabela-sessao th{
    background-color: var(--mentha-blue)!important;
    color: white!important;
}

.tabela-sessao th:first-child {
    border-top-left-radius: 15px;
}

.tabela-sessao tr:last-child{
    border-color: #ffffff00;
}

.tabela-sessao tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.tabela-sessao tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

.tabela-sessao th:last-child {
    border-top-right-radius: 15px;
}
/* BREADCRUMB */

/*** breadcrumb container ***/
.bcca-breadcrumb {
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
    width: fit-content;
    margin-bottom: 15px;
    position: relative;
    border-radius: 4px;
}

/*** breadcrumb items ***/
.bcca-breadcrumb-item {
    transition: all 0.2s ease-in-out;
    height: 40px;
    background: var(--mentha-blue);
    line-height: 40px;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    position: relative;
    cursor: pointer;
    float: left;
}

.bcca-breadcrumb-item:after {
    transition: all ease-in-out 0.2s;
    content: "";
    position: absolute;
    left: calc(100% - 10px);
    top: 6px;
    z-index: 1;
    width: 0;
    height: 0;
    border: 14px solid var(--mentha-blue);;
    border-left-color: transparent;
    border-bottom-color: transparent;
    box-shadow: 0px 0px 0 0px #ffffff, 5px -5px 5px -4px #ffffff;
    transform: rotate(45deg);
    margin-left: -4px;
}

.bcca-breadcrumb-item:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 10px;
}

.bcca-breadcrumb-item-last {
    line-height: 40px;
    color:white;
    padding-left: 30px;
    padding-right: 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(165, 23, 23, 0.4);
    transition: all 0.2s ease;
}

.bcca-breadcrumb-item-last:hover {
    background-color: rgba(165, 23, 23, 0.8);
}

.bcca-breadcrumb-item:first-child:after {
    content: "";
    display: none;
}

.bcca-breadcrumb-item i {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.2);
}

/*** hover breadcrumbs ***/
.bcca-breadcrumb-item:hover {
    background-color: #79d3db;
}

.bcca-breadcrumb-item:hover:after {
    border: 14px solid #79d3db;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.bcca-breadcrumb-item:first-child:hover {
    background-color: rgba(23, 165, 98, 0.15);
}

  