{% include 'protocolo/tree.html'%}
<h4>Áreas de Avaliação: </h4>
    {% for area,answered,percentage in areas %}
        <a class="btn jq-btn btn-info btn-block text-left" data-href="{% url 'instruments' protocol.id part.id area.id %}">
            <div class="d-flex flex-row">
                <div class="p-button item">{{ area.order }}. {{ area.name }}  </div>
                <div class="p-button item align-self-center">
                    {% if percentage == 100 %}

                    {% elif percentage > 0 %}
                        <div class="progress white-border">
                            <div class="progress-bar bg-success" role="progressbar"
                                 style="width: {{ percentage }}%"
                                 aria-valuenow="{{ answered }}"
                                 aria-valuemin="0"
                                 aria-valuemax="{{ area.nr_of_questions }}">
                                {{ percentage }}%
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </a>

    {% empty %}
        <p>
            Não existem áreas implementadas.
        </p>
    {% endfor %}

    <a class="btn jq-btn btn-warning btn-sm" data-href="{% url 'parts' protocol.id %}" style="margin-top: 30px">
        Voltar atrás
    </a>

    <a class="btn jq-btn btn-success btn-sm" data-href="{% url 'report'  resolution %}" style="margin-top: 30px">
        Gerar Relatório
    </a>
