{% include 'protocolo/tree.html'%}
    <h4>Dimensões:</h4>
    {% for dimension,answered,percentage in dimensions %}
        <a class="btn jq-btn  btn-info btn-block text-left"
           data-href="{% url 'protocolo:sections' protocol.id part.id area.id instrument.id dimension.id %}">
            <div class="d-flex flex-row">
                <div class="p-button item">{{ dimension.order }}. {{ dimension.name }}  </div>
                <div class="p-button item align-self-center">
                    {% if percentage == 100 %}

                    {% elif percentage > 0 %}
                        <div class="progress white-border">
                            <div class="progress-bar bg-success" role="progressbar"
                                 style="width: {{ percentage }}%"
                                 aria-valuenow="{{ answered }}"
                                 aria-valuemin="0"
                                 aria-valuemax="{{ area.nr_of_questions }}">
                                {{ percentage }}%
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </a>
    {% empty %}
        <p>
            Não existem dimensões implementadas.
        </p>
    {% endfor %}

    <a class="btn jq-btn btn-warning btn-sm" data-href="{% url 'protocolo:instruments' protocol.id part.id area.id %}"
       style="margin-top: 30px">
        Voltar atrás
    </a>
