{% load tags %}
<div class="container-fluid">
    <div style="padding:8px">
        <div class="card-body card-flex" style="padding: 8px">
            {% include 'protocolo/tree.html' %}
            <a class="btn jq-btn btn-primary mb-btn btn-sm d-none d-sm-inline-block report-button"
                role="button"
                href="#"
                data-href="{% url 'protocolo:report' resolution %}"
                style="display: flex!important;height: 40px;width: 150px;align-items: center;justify-content: space-around;">
                <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Gerar Relatório
            </a>
        </div>
        <div class="">
            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                    aria-describedby="dataTable_info">
                <table class="table my-0 table-hover-light" id="dataTable">
                    <thead>
                    <tr>
                        <th style="text-align: left;width: 29%">Dimensões</th>
                        <th style="text-align: left;width: 15%">Cotação</th>
                        <th style="text-align: left;width: 25%">Progresso</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <!-- Iteration -->
                        {% for dimension,answered,percentage,quotation in dimensions %}
                            <!-- Name -->
                            <td style="margin-top: 0px;padding-bottom: 0px;">
                            <a href="#" class="jq-btn no-decor"
                                    data-href="{% url 'protocolo:sections' protocol.id part.id area.id instrument.id dimension.id patient.id%}">
                                    <button class="btn btn-outline-secondary" style="margin-bottom: 5px;width: 50%;text-align: left;">
                                        {{ dimension.order }}. {{ dimension.name }}</p>
                                    </button>
                            {% if dimension.name == "Questionários" %}

                                <a style="display: inline;"href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:gds-overview' protocol.id part.id area.id instrument.id patient.id %}">
                                    <p style="margin-top:-15px;"><i class="fas fa-eye"></i> Visão Geral</p>
                                </a>
                            {% endif %}
                            </td>

                                <!-- Quotation -->
                            <td>
                            {% if dimension.maximum_quotation == 0 %}
                                <span class="tree-quotation">N/A</span>
                            {% else %}
                                <span class="tree-quotation">({% minimum quotation dimension.maximum_quotation %}/{{ dimension.maximum_quotation }})</span>
                            {% endif %}
                            </td>

                            <!-- Progress Bar -->
                            <td style="padding-bottom: 0px;">
                                <div class="progress" style="text-align: right;margin-top: 10px;">
                                    <div class="progress-bar" aria-valuenow="{{ percentage }}"
                                            aria-valuemin="0"
                                            aria-valuemax="100" style="width: {{ percentage }}%;">
                                        {{ percentage }}%
                                    </div>
                                </div>
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Buttons -->

            <div class="flex-buttons">
                <button id="previous" class="btn jq-btn btn-primary flex-left mb-btn mb-btn"
                                {% if instrument.name != 'None' %}
                                    data-href="{% url 'protocolo:instruments' protocol.id part.id area.id patient.id%}"
                                {% else %}
                                    data-href="{% url 'protocolo:areas' protocol.id part.id patient.id %}"
                                {% endif %}
                type="button"
                style="width:100%">
                    <i class="fa fa-chevron-left"></i>&nbsp; Anterior {{ lastdim }}
                </button>
            </div>
        </div>
    </div>
</div>