{% load tags %}
{% load static %}
<div class="container-fluid" >
    <div class="" style="padding:8px;">
        <div class="card-body card-flex" style="padding: 8px">
            {% include 'protocolo/tree.html' %}
            <a class="btn jq-btn btn-primary mb-btn btn-sm d-none d-sm-inline-block report-button"
                role="button"
                href="#"
                data-href="{% url 'protocolo:report' resolution %}"
                style="display: flex!important;height: 40px;width: 150px;align-items: center;justify-content: space-around;">
                <i class="fas fa-download fa-sm text-white-50"></i>&nbsp;Gerar Relatório
            </a>
        </div>
        <div class="">
            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                    aria-describedby="dataTable_info">
                <table class="table my-0 table-hover-light" id="dataTable">
                    <thead>
                    <tr>
                        <th style="text-align: left;width: 29%">Instrumentos</th>
                        <th style="text-align: left;width: 15%">Cotação</th>
                        <th style="text-align: left;width: 25%">Progresso</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <!-- Iteration -->
                        {% for instrument,answered,percentage,quotation in instruments %}

                            <!-- Name -->
                            <td style="margin-top: 0px;padding-bottom: 0px;">
                                <a href="#" class="jq-btn no-decor"
                                    data-href="{% url 'protocolo:dimensions' protocol_id part_id area_id instrument.id patient_id %}">
                                    <button class="btn btn-outline-secondary" style="margin-bottom: 5px;width: 50%;text-align: left;">
                                        {{ instrument.name }}
                                    </button>
                                    <a href="{% static 'protocolo/files/MentHA_Manual_Avaliacao_Final.pdf' %}#page={{ instrument.get_pdf_page }}"
                                            target="_blank">
                                            <i style="padding:5px;color: var(--bs-warning);font-size: 20px;"
                                                class="fas fa-info-circle"></i>
                                        </a>
                                </a>
                            </td>
                            <!-- Quotation -->
                            <td>

                                <span class="tree-quotation">({% minimum quotation instrument.maximum_quotation %}/{{ instrument.maximum_quotation }})</span>
                            </td>

                            <!-- Progress Bar -->
                            <td style="padding-bottom: 0px;">
                                <div class="progress" style="text-align: right;margin-top: 10px;">
                                    <div class="progress-bar" aria-valuenow="{{ percentage }}"
                                            aria-valuemin="0"
                                            aria-valuemax="100" style="width: {{ percentage }}%;">
                                        {{ percentage }}%
                                    </div>
                                </div>
                            </td>
                            </tr>
                        {% endfor %}
                    </tbody>  
                </table>
            </div>
            <!-- Buttons -->
            <div class="flex-buttons">
                <button id="previous" class="btn jq-btn btn-primary mb-btn flex-left"
                        data-href="{% url 'protocolo:areas' protocol_id part_id patient_id %}"
                        type="button"
                        style="width:100%">
                    <i class="fa fa-chevron-left"></i>&nbsp; Anterior
                </button>
            </div>
        </div>
    </div>
</div>