{% load static %}
{% block head %}

<script src="{% static 'protocolo/js/risk.js' %}?{% now 'U' %}"></script>
<link href="{% static 'protocolo/stylingForm.css' %}" rel="stylesheet">
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })


function validateForm() {
  // Retrieve all form input elements
  var inputs = document.getElementsByTagName('input');

  // Iterate through each input element and check if it is empty
  for (var i = 0; i < inputs.length; i++) {
    if (inputs[i].value === '') {
      alert('Please fill in all fields.');
      return false; // Prevent form submission
    }
  }

  // If all fields are filled, allow form submission
  return true;
}
</script>
{% comment %} <script src="{% static 'protocolo/js/jquery.js' %}"></script> {% endcomment %}
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script> {% endcomment %}

{% endblock %}
<div class="container-form">
    <form method="post" id="risk_form" style="width:100%" onsubmit="return validateForm()">
        {% csrf_token %}
        <table style="width:100%;border-spacing: 15px;
        border-collapse: separate;">
            <tr>
                <td>
                    <label for="idade"><b>Idade</b>
                        <button type="button" class="" data-toggle="tooltip" data-placement="top" title="Insira valores entre 55 e 89">
                            <i style="padding-left:5px;color: var(--bs-warning);font-size: 20px;" class="fas fa-info-circle"></i>
                        </button>
                    </label>
                    <div class="input-class">
                        <input style="color:black;" class="form-input" type="number" step="1" min="55" max="89" id="idade" name="idade" value="{{existing_risk.idade}}" required>
                    </div>
                </td>
                <td>
                    <label for="sexo"><b>Sexo</b></label>
                    <div class="select-containers">
                        <select class="select" id="sexo" name="sexo">
                            <option value="M"
                            {% if existing_risk.fumador == 'M' %}
                                selected
                            {% endif %}>Masculino</option>
                            <option value="F"
                            {% if existing_risk.fumador == 'F' %}
                                selected
                            {% endif %}>Feminino</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="altura"><b>Altura</b></label>
                    <div class="input-class">
                        <input style="color:black;" class="form-input" type="text" id="altura" name="altura" value="{{existing_risk.altura}}" required>
                    </div>
                </td>
                <td>
                    <label for="peso"><b>Peso</b></label>
                    <div class="input-class">
                        <input style="color:black;" class="form-input" type="text" id="peso" name="peso" value="{{existing_risk.peso}}" required>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="pergunta"><b>Como classifica o seu Risco Cardio Vascular?</b></label>
                    <div class="select-containers">
                        <select class="select" id="pergunta" name="pergunta">
                            <option value="Baixo">Baixo</option>
                            <option value="Moderado">Moderado</option>
                            <option value="Alto">Alto</option>
                            <option value="Elevado">Elevado</option>
                        </select>
                    </div>
                </td>
                <td>
                    <label for="fumador"><b>É fumador ativo?</b></label>
                    <div class="select-containers">
                        <select class="select" id="fumador" name="fumador">
                            <option value="nonSmoking"
                            {% if existing_risk.fumador == 'nonSmoking' %}
                                selected
                            {% endif %}>Não</option>
                            <option value="smoking"
                            {% if existing_risk.fumador == 'smoking' %}
                                selected
                            {% endif %}
                            >Sim</option>
                        </select>
                    </div>
                </td>
                <tr>
                    <td>
                        <label for="diabetes"><b>Tem diabetes?</b>
                            <div class="select-containers">
                                <select class="select" id="diabetes" name="diabetes">
                                    <option value="False"
                                    {% if existing_risk.diabetes == 'False' %}
                                        selected
                                    {% endif %}>Não</option>
                                    <option value="True"
                                    {% if existing_risk.diabetes == 'True' %}
                                        selected
                                    {% endif %}
                                    >Sim</option>
                                </select>
                            </div>
                        </label>
                    </td>
                    <td>
                        <label for="anos_diabetes"><b>Se tem diabetes, há quantos anos?</b>
                            <div class="input-class">
                                <input style="color:black;" class="form-input" type="text" id="anos_diabetes" name="anos_diabetes" value="{{existing_risk.anos_diabetes}}" required >
                            </div>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="pressao_arterial">
                            <div class="input-class">
                            <b>Pressão Arterial Sistólica (mmHg)</b>
                            <button type="button" class="" data-toggle="tooltip" data-placement="top" title="Insira valores entre 100 e 179">
                                <i style="padding-left:5px;color: var(--bs-warning);font-size: 20px;" class="fas fa-info-circle"></i>
                            </button>
                                <input style="color:black;" class="form-input" type="number" step="1" min="100" max="179"  id="pressao_arterial" name="pressao_arterial" value="{{existing_risk.pressao_arterial}}" required >
                            </div>
                        </label>
                    </td>
                    <td>
                        <label for="colestrol_total">
                            <b>Colesterol Total (mmol/L)</b>
                            <div class="input-class">
                                <input style="color:black;" class="form-input" type="number" step="1" min="160" max="240"  id="colestrol_total" name="colestrol_total" value="{{existing_risk.colestrol_total}}" required>
                            </div>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="colestrol_hdl">
                            <b>Colestrol HDL (mmol/L)</b>
                            <div class="input-class">
                                <input style="color:black;" class="form-input" type="number" step="1" min="80" max="160"  id="colestrol_hdl" name="colestrol_hdl" value="{{existing_risk.colestrol_hdl}}" required >
                            </div>
                        </label>
                    </td>
                    <td>
                        <label for="colestrol_nao_hdl">
                            <b>Colestrol não HDL (mmol/L)</b>
                            <div class="input-class">
                                <input style="color:black;" class="form-input" type="number" step="1" min="80" max="160" id="colestrol_nao_hdl" name="colestrol_nao_hdl" value="{{existing_risk.colestrol_nao_hdl}}" required >
                            </div>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="hemoglobina_gliciada">
                            <b>Hemoglobina Gliciada</b>
                            <button type="button" class="" data-toggle="tooltip" data-placement="top" title="Insira valores entre 3.0 e 6.9">
                                <i style="padding-left:5px;color: var(--bs-warning);font-size: 20px;" class="fas fa-info-circle"></i>
                            </button>
                            <div class="input-class">
                                <input style="color:black;" class="form-input" type="text"  id="hemoglobina_gliciada" name="hemoglobina_gliciada" value="{{existing_risk.hemoglobina_gliciada}}" required >
                            </div>
                        </label>
                    </td>
                    <td>
                        <label for="hipercolestrol">
                            <b>Tem Hipercolestrolémia?</b>
                            <div>
                                <select class="select" id="hipercolestrol" name="hipercolestrol">
                                    <option value="False"
                                    {% if existing_risk.hipercolestrol == 'False' %}
                                        selected
                                    {% endif %}>Não</option>
                                    <option value="True"
                                    {% if existing_risk.hipercolestrol == 'True' %}
                                        selected
                                    {% endif %}
                                    >Sim</option>
                                </select>
                            </div>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="avc">
                            <b>Já teve um AVC?</b>
                            <div class="select-containers">
                                <select class="select" id="avc" name="avc">
                                    <option value="False"
                                    {% if existing_risk.avc == 'False' %}
                                        selected
                                    {% endif %}>Não</option>
                                    <option value="True"
                                    {% if existing_risk.avc == 'True' %}
                                        selected
                                    {% endif %}
                                    >Sim</option>
                                </select>
                            </div>
                        </label>
                    </td>
                    <td>
                        <label for ="enfarte">
                            <b>Já teve um enfarte?</b>
                            <div class="select-containers">
                                <select class="select" id="enfarte" name="enfarte">
                                    <option value="False"
                                    {% if existing_risk.enfarte == 'False' %}
                                        selected
                                    {% endif %}>Não</option>
                                    <option value="True"
                                    {% if existing_risk.enfarte == 'True' %}
                                        selected
                                    {% endif %}
                                    >Sim</option>
                                </select>
                            </div>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="doenca_rins">
                            <b>Tem doença renal?</b>
                            <div class="select-containers">
                                <select class="select" id="doenca_rins" name="doenca_rins">
                                    <option value="False"
                                    {% if existing_risk.doenca_rins == 'False' %}
                                        selected
                                    {% endif %}>Não</option>
                                    <option value="True"
                                    {% if existing_risk.doenca_rins == 'True' %}
                                        selected
                                    {% endif %}
                                    >Sim</option>
                                </select>
                            </div>
                        </label>
                    </td>
                    <td>
                        <label for="doenca_pernas">
                            <b>Tem Doença Arterial Periférica?</b>
                            <div class="select-containers">
                                <select class="select" id="doenca_pernas" name="doenca_pernas">
                                    <option value="False"
                                    {% if existing_risk.doenca_pernas == 'False' %}
                                        selected
                                    {% endif %}>Não</option>
                                    <option value="True"
                                    {% if existing_risk.doenca_pernas == 'True' %}
                                        selected
                                    {% endif %}
                                    >Sim</option>
                                </select>
                            </div>
                        </label>
                    </td>
                </tr>
        </table>

        <div class="flex-textarea flex-item padding-top-25" style="width:100%">
            <label for="comentario"><b>Comentários</b></label>
            <textarea style="width:100%; color:black;" class="textarea" type="text" id="comentario" name="comentario" placeholder="Escreva o seu comentário" rows ="5" cols="100">{{existing_risk.comentario}} </textarea>
        </div>

        <div class="container" style="margin-top: 25px; width:100%;">
            <div class="text-center">
                <div class="card-body">
                    {% if existing_risk %}
                        <h1 class="m-0 fw-bold mb-text fs-4">Risco de AVC: {{existing_risk.risco_de_enfarte}}%</h1>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="flex-buttons padding-top-25">
            <button class="btn jq-btn btn-primary flex-left mb-btn" data-href="{% url 'protocolo:participant' patient.id %}" type="button">
                <i class="fa fa-chevron-left"></i>&nbsp; Anterior
            </button>
            <button class="btn btn-submit-risk btn-primary mb-btn flex-right" type="submit" id="risk-submit"
                data-href="{% url 'protocolo:question' protocol.id part.id area.id instrument.id dimension.id section.id patient.id %}">
                <i class="fa fa-check"></i>&nbsp; Submeter
            </button>
        </div>
    </form>
</div>