{% include 'protocolo/tree.html'%}
<h4>Partes: </h4>
{% for part,answered,percentage in parts %}
    <a class="btn jq-btn btn-info btn-block text-left" data-href="{% url 'protocolo:areas' protocol.id part.id %}">
        <div class="d-flex flex-row">
            <div class="p-button item">{% if part.part_number > 0 %}
                Parte {{ part.part_number }}: {{ part.name }}
            {% else %}
                {{ part.name }}
            {% endif %}</div>
            <div class="p-button item align-self-center">
                {% if percentage == 100 %}

                {% elif percentage > 0 %}
                    <div class="progress white-border">
                        <div class="progress-bar bg-success" role="progressbar"
                             style="width: {{ percentage }}%"
                             aria-valuenow="{{ answered }}"
                             aria-valuemin="0"
                             aria-valuemax="{{ part.number_of_questions }}">{{ percentage }}%
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </a>

{% empty %}
    <p>
        Não existem áreas implementadas.
    </p>
{% endfor %}

<a class="btn jq-btn btn-warning btn-sm" data-href="{% url 'protocolo:protocols' %}" style="margin-top: 30px">
    Voltar atrás
</a>
