{% load static %}
{% load tags %}

<style>
  .circle-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
  }
</style>

<div class="container-fluid">
    <div style="padding:8px">
        <div>
            {% include 'protocolo/tree.html' %}
        </div>

        <div class="card-flex">
            <p class="m-0 fw-bold mb-text fs-4">Participantes</p>
        </div>
        {% if participants|length > 0 %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align:center; width:15%"></th>
                        <th style="text-align:center; width:20%">Nome</th>
                        <th style="text-align:center; width:15%">Idade</th>
                        <th style="text-align:center; width:15%">Referenciação</th>
                        <th style="text-align:center; width:15%">Próximo Agendamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in participants %}
                        <tr style="vertical-align:middle;">
                            <td style="text-align: center">
                                {% if p.imagem %}
                                <div class="circle-image">
                                    <img src="{{ p.imagem.url }}"
                                        style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                {% else %}
                                <div class="circle-image">
                                    <img src="{% static 'protocolo/img/placeholder-avatar.png' %}"
                                        style="width: 100%; height: 100%; object-fit: cover;">
                                </div>
                                {% endif %}
                            </td>
                            <td style="text-align: center;">
                                <a href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:participant' p.id %}">
                                    <button class="btn mb-btn btn-group " type="button" style="width:90%;justify-content: center;">
                                        <b>{{ p.nome }}</b>
                                    </button> 
                                </a>
                            </td>
                            <td style="text-align: center;">{% calculate_age p.nascimento %}</td>
                            <td style="text-align: center;">{{ p.referenciacao }}</td>
                            <td style="text-align: center;">{{ p.proximoAgendamento }}</td>
                        </tr>
                    {% endfor %}
                    <tr></tr>
                </tbody>
                <!-- Bold footer line -->
                
            </table>
            <div class="class-flex" style="text-align:end;">
                <a href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:participantes_registo' %}">
                    <button id="btn-popup" class="btn mb-btn-outline" style="width:150px">
                        <i class="fa fa-user-plus"></i>&nbsp Registar
                    </button>
                </a>
            </div>
        </div>
        {% else %}
            Não tem Participantes associados.
        {% endif %}
        
        {% if request.user|has_group:"Administrador" %}
            <div class="card-flex" style="padding-top:100px;">
                <p class="m-0 fw-bold mb-text fs-4">Avaliadores</p>
            </div>
            {% if avaliadores|length > 0 %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align:center; width:15%"></th>
                            <th style="text-align:center; width:20%">Nome</th>
                            <th style="text-align:center; width:15%">E-mail</th>
                            <th style="text-align:center; width:15%">Nrº Participantes</th>
                            <th style="text-align:center; width:15%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a, nr in avaliadores_zip %}
                            <tr style="vertical-align:middle;">
                                <td style="text-align: center">
                                    {% if a.imagem %}
                                    <div class="circle-image">
                                        <img src="{{ p.imagem.url }}"
                                            style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                    {% else %}
                                    <div class="circle-image">
                                        <img src="{% static 'protocolo/img/placeholder-avatar.png' %}"
                                            style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                    {% endif %}
                                </td>
                                <td style="text-align: center;">
                                    <b>{{ a.first_name }} {{ a.last_name }}</b>
                                </td>
                                <td style="text-align: center;">{{ a.email }}</td>
                                <td style="text-align: center;">{{nr}}</td>
                                <td style="text-align: center;"></td>
                            </tr>
                        {% endfor %}
                        <tr></tr>
                    </tbody>
                    <!-- Bold footer line -->
                    
                </table>
                <div class="class-flex" style="text-align:end;">
                <a href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:avaliadores_registo' %}">
                    <button id="btn-popup" class="btn mb-btn-outline" style="width:150px">
                        <i class="fa fa-user-plus"></i>&nbsp Registar
                    </button>
                </a>
            </div>
            </div>
            {% else %}
            Sem Avaliadores registados.
            {% endif %}
        {% endif %}
    </div>
</div>
