{% load static %}
{% load tags %}

<div class="container-fluid">
    <div style="padding:8px">
        <div class="card-flex">
            <p class="m-0 fw-bold mb-text fs-4">Participantes</p>
            <a href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:participantes_registo' %}">
                <button id="btn-popup" class="btn mb-btn-outline" style="width:150px"> 
                        <i class="fa fa-user-plus"></i>&nbsp Registar
                </button>  
            </a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th style="text-align:center; width:15%"></th>
                        <th style="text-align:center; width:20%">Nome</th>
                        <th style="text-align:center; width:15%">Idade</th>
                        <th style="text-align:center; width:15%">Referenciação</th>
                        <th style="text-align:center; width:15%">Próximo Agendamento</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in participants %}
                        <tr>
                            <td style="text-align: center">
                                {% if p.imagem %}
                                <img class="rounded-circle img-fluid d-xl-flex justify-content-center align-items-center align-content-center align-self-center justify-content-xl-center align-items-xl-center"
                                    src="{{ p.imagem.url }}" width="45px"
                                    height="45px"
                                    style="margin-left: auto;margin-right: auto;display: block;">
                                {% else %}
                                    <img class="rounded-circle img-fluid d-xl-flex justify-content-center align-items-center align-content-center align-self-center justify-content-xl-center align-items-xl-center"
                                    src="{% static 'protocolo/img/placeholder-avatar.png' %}" width="45px"
                                    height="45px"
                                    style="margin-left: auto;margin-right: auto;display: block;">
                                {% endif %}
                            </td>
                            <td style="text-align: center;">
                                <a href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:participant' p.id %}">
                                    <button class="btn mb-bg btn-group " type="button" style="width:90%;justify-content: center;">
                                        <b>{{ p.nome }}</b>
                                    </button> 
                                </a>
                            </td>
                            <td style="text-align: center;">{% calculate_age p.nascimento %}</td>
                            <td style="text-align: center;">{{ p.referenciacao }}</td>
                            <td style="text-align: center;">{{ p.proximoAgendamento }}</td>
                        </tr>
                    {% empty %}
                        Não tem Participantes associados.
                    {% endfor %}
                    <tr></tr>
                </tbody>
                <!-- Bold footer line -->
                
            </table>
        </div>
    </div>
</div>
