{% load static %}
{% block head %}
<script src="{% static 'protocolo/js/profile.js' %}"></script>
{% endblock %}
{% load tags %}

<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
            <!-- Perfil-->
            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold" style="font-size: 20px">PERFIL</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td rowspan="4" class="align-content-center align-middle" style="width: 15%">
                                            <!-- Imagem -->
                                            {% if patient.imagem %}
                                                <img class="rounded-circle img-fluid d-xl-flex justify-content-center align-items-center align-content-center align-self-center justify-content-xl-center align-items-xl-center"
                                                    src="{{ patient.imagem.url }}" width="200px"
                                                    height="200px"
                                                    style="margin-left: auto;margin-right: auto;display: block;">
                                            {% else %}
                                                <img class="rounded-circle img-fluid d-xl-flex justify-content-center align-items-center align-content-center align-self-center justify-content-xl-center align-items-xl-center"
                                                    src="{% static 'protocolo/img/placeholder-avatar.png' %}" width="200px"
                                                    height="200px"
                                                    style="margin-left: auto;margin-right: auto;display: block;">
                                            {% endif %}
                                        </td>
                                        <td class="text-start" style="text-align:center; width: 25%">
                                            <!-- Nome -->
                                            <label class="form-label">Nome</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {{ patient.nome }}
                                            </p>
                                        </td>
                                        <td class="text-start" style="text-align:center; width: 25%">
                                            <!-- Telemovel -->
                                            <label class="form-label">Telemóvel</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {{ patient.telemovel }}
                                            </p>
                                        </td>
                                        <td class="text-start" style="text-align:center; width: 25%">
                                            <!-- Referenciacao -->
                                            <label class="form-label">Referenciação</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {{ patient.referenciacao }}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- Data de Nascimento -->
                                            <label class="form-label">Data de Nascimento</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold;">
                                                {{ patient.nascimento }} ({{ age }} anos)
                                            </p>
                                        </td>
                                        <td>
                                            <!-- E-mail -->
                                            <label class="form-label">E-mail</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {{ patient.email }}
                                            </p>
                                        </td>
                                        <td>
                                            <!-- Grupo COG -->
                                            <label class="form-label">Grupo COG</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold;">
                                                {% if not patient.grupoCog %}
                                                    Não tem grupo COG
                                                {% else %}
                                                    {{ patient.grupoCog.nome }}
                                                {% endif %}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- Sexo -->
                                            <label class="form-label">Sexo</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {{ patient.sexo }}
                                            </p>
                                        </td>
                                        <td></td>
                                        <td>
                                            <!-- Grupo CARE -->
                                            <label class="form-label">Grupo CARE</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {% if not patient.grupoCare %}
                                                    Não tem grupo CARE
                                                {% else %}
                                                    {{ patient.grupoCare.nome }}
                                                {% endif %}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- Nacionalidade -->
                                            <label class="form-label">Nacionalidade</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {{ patient.nacionalidade }}
                                            </p>
                                        </td>
                                        <td></td>
                                        <td>
                                            <!-- Cuidadores -->
                                            <label class="form-label">Cuidador(es)</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {% if cuidadores|length == 0 %}
                                                    Não tem cuidador
                                                {% else %}
                                                    {{ cuidadores }}
                                                {% endif %}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% if user_tudo is not None and user_risk is None %}
            <!-- Agendamentos-->
            <div class="container-fluid" style="margin-top: 25px">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p style="font-size: 20px" class="text-primary m-0 fw-bold">AVALIAÇÕES</p>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table my-0 table-hover-light" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center; width:15%">Avaliação</th>
                                            <th style="text-align:center; width:15%">Data</th>
                                            <th style="text-align:center; width:15%">Hora</th>
                                            <th style="text-align:center; width:20%">Progresso</th>
                                            <th style="text-align:center; width:15%">Gerar Relatório</th>
                                            <th style="text-align:center; width:15%">Selecionar Área</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for part,answered,percentage in partesdoutilizador %}
                                            <!-- Part -->
                                            <td style="margin-top:0px; padding-bottom:0px;">
                                                <a href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:areas' 1 part.id patient.id %}">
                                                    <p style="margin-top: 10px;">
                                                        {{ part.part.name }}
                                                    </p>
                                                </a>
                                            </td>

                                            <!-- Date -->
                                            <td style="margin-top:10px; padding-bottom:0px; text-align:center;">
                                                <p style="margin-top: 10px;">
                                                    {{part.data.day}}/{{part.data.month}}/{{part.data.year}}
                                                </p>
                                            </td>

                                            <!-- Hour -->
                                            <td style="margin-top:10px; padding-bottom:0px; text-align:center;">
                                                <p style="margin-top: 10px;">
                                                    {{part.time}}
                                                </p>
                                            </td>

                                            <!-- Progress Bar -->
                                            {% if part.part.name != "MentHA-Risk" %}
                                                <td style="padding-bottom:0px;">
                                                    <div class="progress" style="margin-top:15px;">
                                                        <div class="progress-bar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage }}%;">
                                                            {{ percentage }}%
                                                        </div>
                                                    </div>
                                                </td>
                                            {% else %}
                                                    <td style="margin-top:0px; padding-bottom:0px; text-align:center;">
                                                        {% if percentage == 100 %}
                                                            <i class="fa fa-check" style="color: rgba(0,128,0,0.5)"></i>
                                                        {% endif %}
                                                    </td>
                                            {% endif %}
                                            
                                            <!-- Report Button -->
                                            {% if part.part.name != "MentHA-Risk" %}
                                            <td style="margin-top:0px; padding-bottom:0px; text-align:center;">
                                                <a href="#" class="jq-btn" data-href="{% url 'protocolo:areas' 1 part.id patient.id %}"  style="text-align: center;">
                                                    <button class="btn btn-secondary" type="button" style="border-radius: 217px;">
                                                        <i class="fa fa-file-text-o" style="border-left-width: 0px;font-size: 15px;text-align: center;"></i>
                                                    </button>
                                                </a>
                                            </td>
                                            {% else %}
                                            {% comment %} <a href="{{ part.resolution.relatorio.url }}"> {% endcomment %}
                                            <td style="margin-top:0px; padding-bottom:0px; text-align:center;">
                                                <a href="{{ part.risk.relatorio.url }}" >
                                                    <button class="btn btn-secondary" type="button" style="border-radius: 217px;">
                                                        <i class="fa fa-file-text-o" style="border-left-width: 0px;font-size: 15px;text-align: center;"></i>
                                                    </button>
                                                </a>
                                            </td>
                                            {% endif %}
                                            <!-- Area Button -->
                                            <td style="margin-top:0px; padding-bottom:0px; text-align:center;">
                                                <a href="#" class="jq-btn"
                                                    {% if part.part.name != "MentHA-Risk" %}
                                                        data-href="{% url 'protocolo:areas' 1 part.id patient.id %}"
                                                    {% else %}
                                                        data-href="{% url 'protocolo:question' 1 part.id risk_area.id pergunta_risk.section.dimension.instrument.id pergunta_risk.section.dimension.id pergunta_risk.section.id  patient.id %}"
                                                    {% endif %}>
                                                    <button class="btn btn-primary" type="button" style="border-radius: 217px;">
                                                        <i class="fa fa-chevron-right" style="border-left-width: 0px;font-size: 15px;text-align: center;"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        <tr></tr>
                                    </tbody>
                                    <!-- Bold footer line -->
                                    <tfoot>
                                        <tr>
                                            <td><strong></strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- Appointment Button -->
                            <form id="appointment-form" action="" method="POST" style="display:flex; align-items:flex-end; gap:10px">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div style="display:flex; flex-direction:row; align-items:center; gap:4px">
                                        {{ field.label }}: {{ field }}
                                    </div>
                                {% endfor %}
                                <button id="btn-popup" class="btn btn-primary btn-appointment flex-left" type="submit" data-href="{% url 'protocolo:participant' patient.id %}"> 
                                    <i class="fa fa-calendar-plus-o"></i>&nbsp Agendar
                                </button>                                                    
                            </form>
                        </div>
                    </div>
                    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
                </div>
            </div>

            <!-- Visao Geral Da Avaliacao-->
            <div class="container-fluid" style="margin-top: 25px">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p style="font-size: 20px" class="text-primary m-0 fw-bold">VISÃO GERAL PROTOCOLO MENTHA</p>
                        <button id="btn-abrir" class="btn btn-primary flex-left" type="button"> 
                            <i class="fa fa-plus"></i> click me!
                        </button>                                                    
                    </div>
                    <div class="card-body" id="card-profile" style="display:none">
                        <div class="table-responsive" style="overflow-x:auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="position:sticky; left:0; background-color: rgba(255,255,255, 1); width:15ch;"></th>
                                        {% for part in partedoutilizador %}
                                            {% if part.part.name != 'MentHA-Risk' and part.part.name != 'Teste Livre' %}
                                                <th style="text-align: center; width:15ch;">{{ part.part.name }} <p style="font-weight:normal;">{{part.data.day}}/{{part.data.month}}/{{part.data.year}}</p></th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for text in overview_list %}
                                        {% if text != "MentHA-Risk-area - MentHA-Risk-instrument" and text != "None" and text != "None - Fumadores" %}
                                            <tr>
                                                <td style="position:sticky; left: 0; background-color: rgba(255,255,255, 1)">{{ text }}</td>
                                                {% for part in partedoutilizador %}
                                                    {% if part.part.name != 'MentHA-Risk' and part.part.name != 'Teste Livre' %}
                                                        {% get_if_done_from_percentage_list percentages part.id text as done_text %}
                                                            {% if done_text == 'done' %}
                                                        <td style="text-align: center;background-color: rgba(0,255,0,0.1)">
                                                            <i class="fa fa-check" style="color: rgba(0,128,0,0.5)"></i>
                                                            {% elif done_text == 'not done' or done_text == None %}
                                                        <td style="text-align: center; background-color: rgba(255,0,0,0.1)">
                                                            <i class="fa fa-close" style="color: rgba(255,0,0,0.5)"></i>
                                                            {% elif done_text == 'does not exist' %}
                                                        <td style="background-color: rgba(0,0,0,0.0);text-align: center;">
                                                            <i class="fas fa-window-minimize" style="color: rgba(0,0,0,0.1)"></i>
                                                            {% endif %}
                                                        </td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="margin-top: 25px">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p style="font-size: 20px" class="text-primary m-0 fw-bold">VISÃO GERAL MENTHA RISK</p>
                        <button id="btn-fechar" class="btn btn-primary flex-left"> 
                            <i class="fa fa-calendar-plus-o"></i> Click me!
                        </button> 
                    </div>
                    <div class="card-body" id="card-profile-risk" style="display:none">
                        <div class="table-responsive" style="overflow-x:auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="position:sticky; left:0; background-color: rgba(255,255,255, 1); width:15ch;"></th>
                                        {% for part in partedoutilizador %}
                                            {% if part.part.name == 'MentHA-Risk' %}
                                                <th style="text-align: center; width:15ch;">{{ part.part.name }} <p style="font-weight:normal;">{{part.data.day}}/{{part.data.month}}/{{part.data.year}}</p></th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for part,answered,percentage in partesdoutilizador %}  
                                        {% comment %} {% if parte != "MentHA-Risk-area - MentHA-Risk-instrument" and text != "None" and text != "None - Fumadores" %} {% endcomment %}
                                        {% if part.part.name == 'MentHA-Risk' %}    
                                        <tr>
                                            <td style="position:sticky; left: 0; background-color: rgba(255,255,255, 1)">Status:</td>   
                                                {% if percentage == 100 %}
                                                    <td style="text-align: center;background-color: rgba(0,255,0,0.1)">
                                                        <i class="fa fa-check" style="color: rgba(0,128,0,0.5)"></i>
                                                {% else %}
                                                    <td style="text-align: center; background-color: rgba(255,0,0,0.1)">
                                                        <i class="fa fa-close" style="color: rgba(255,0,0,0.5)"></i>
                                                    </td>
                                                {% endif %}
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <td style="text-align: center; background-color: rgba(255,0,0,0.1)">
                                                            <i class="fa fa-close" style="color: rgba(255,0,0,0.5)"></i> {% endcomment %}
            {% elif user_risk is not None %}
             <!-- Agendamentos-->
            <div class="container-fluid" style="margin-top: 25px">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p style="font-size: 20px" class="text-primary m-0 fw-bold">AVALIAÇÕES</p>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table my-0 table-hover-light" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center; width:15%">Parte</th>
                                            <th style="text-align:center; width:15%">Data</th>
                                            <th style="text-align:center; width:15%">Hora</th>
                                            <th style="text-align:left; width:20%">Progresso</th>
                                            <th style="text-align:center; width:15%">Gerar Relatório</th>
                                            <th style="text-align:center; width:15%">Selecionar Área</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for part,answered,percentage in partesdoutilizador %}
                                            {% if part.part.name == 'MentHA-Risk'  %}
                                            <!-- Part -->
                                            <td style="margin-top:0px; padding-bottom:0px;">
                                                <a href="#" class="jq-btn no-decor" data-href="{% url 'protocolo:areas' 1 part.id patient.id %}">
                                                    <p style="margin-top: 10px;">
                                                        {{ part.part.name }}
                                                    </p>
                                                </a>
                                            </td>

                                            <!-- Date -->
                                            <td style="margin-top:10px; padding-bottom:0px; text-align:center;">
                                                <p style="margin-top: 10px;">
                                                    {{part.data.day}}/{{part.data.month}}/{{part.data.year}}
                                                </p>
                                            </td>

                                            <!-- Hour -->
                                            <td style="margin-top:10px; padding-bottom:0px; text-align:center;">
                                                <p style="margin-top: 10px;">
                                                    {{part.time}}
                                                </p>
                                            </td>

                                            <!-- Progress Bar -->
                                            {% if part.part.name != "MentHA-Risk" %}
                                                <td style="padding-bottom:0px;">
                                                    <div class="progress" style="margin-top:15px;">
                                                        <div class="progress-bar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage }}%;">
                                                            {{ percentage }}%
                                                        </div>
                                                    </div>
                                                </td>
                                            {% else %}
                                                <td style="margin-top:0px; padding-bottom:0px; text-align:center;">
                                                </td>
                                            {% endif %}
                                            
                                            <!-- Report Button -->
                                            {% if part.part.name != "MentHA-Risk" %}
                                            <td style="margin-top:0px; padding-bottom:0px; text-align:center;">
                                                <a href="#" class="jq-btn" data-href="{% url 'protocolo:areas' 1 part.id patient.id %}"  style="text-align: center;">
                                                    <button class="btn btn-secondary" type="button" style="border-radius: 217px;">
                                                        <i class="fa fa-file-text-o" style="border-left-width: 0px;font-size: 15px;text-align: center;"></i>
                                                    </button>
                                                </a>
                                            </td>
                                            {% else %}
                                            <td style="margin-top:0px; padding-bottom:0px; text-align:center;">
                                                <a href="#" class="jq-btn"  data-href="{% url 'protocolo:question' 1 part.id risk_area.id pergunta_risk.section.dimension.instrument.id pergunta_risk.section.dimension.id pergunta_risk.section.id  patient.id %}"  style="text-align: center;">
                                                    <button class="btn btn-secondary" type="button" style="border-radius: 217px;">
                                                        <i class="fa fa-file-text-o" style="border-left-width: 0px;font-size: 15px;text-align: center;"></i>
                                                    </button>
                                                </a>
                                            </td>
                                            {% endif %}
                                            <!-- Area Button -->
                                            <td style="margin-top:0px; padding-bottom:0px; text-align:center;">
                                                <a href="#" class="jq-btn"
                                                    {% if part.part.name != "MentHA-Risk" %}
                                                        data-href="{% url 'protocolo:areas' 1 part.id patient.id %}"
                                                    {% else %}
                                                        data-href="{% url 'protocolo:question' 1 part.id risk_area.id pergunta_risk.section.dimension.instrument.id pergunta_risk.section.dimension.id pergunta_risk.section.id  patient.id %}"
                                                    {% endif %}>
                                                    <button class="btn btn-primary" type="button" style="border-radius: 217px;">
                                                        <i class="fa fa-chevron-right" style="border-left-width: 0px;font-size: 15px;text-align: center;"></i>
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        <tr></tr>
                                    </tbody>
                                    <!-- Bold footer line -->
                                    <tfoot>
                                        <tr>
                                            <td><strong></strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- Appointment Button -->
                            <form id="appointment-form" action="" method="POST" style="display:flex; align-items:flex-end; gap:10px">
                                {% csrf_token %}
                                <select>
                                    <option value="1">MentHA-Risk</option>
                                </select>

                                {% for field in form %}
                                    <div style="display:flex; flex-direction:row; align-items:center; gap:4px">
                                        
                                        {{ field.label }}: {{ field }}
                                    </div>
                                {% endfor %}
                                <button id="btn-popup" class="btn btn-primary btn-appointment flex-left" type="submit" data-href="{% url 'protocolo:participant' patient.id %}"> 
                                    <i class="fa fa-calendar-plus-o"></i>&nbsp Agendar
                                </button>                                                    
                            </form>
                        </div>
                    </div>
                    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
                </div>
            </div>

            {% endif %}
        </div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
