{% load static %}
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Perfil</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap d-xl-flex justify-content-xl-center align-items-xl-center"
                                 style="width: 150px;padding: 12px;"><img
                                    class="rounded-circle img-fluid d-xl-flex justify-content-center align-items-center align-content-center align-self-center justify-content-xl-center align-items-xl-center"
                                    src="{% static 'protocolo/img/placeholder-avatar.png' %}" width="200px"
                                    height="200px"></div>
                            <div class="col-md-6" style="transform: scale(1);width: 550px;">
                                <div class="row">
                                    <div class="col"><label class="form-label">Primeiro Nome</label>
                                        <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;">
                                            <strong>{{ p.nome }}</strong></p>
                                    </div>
                                    <div class="col"><label class="form-label">Último Nome</label>
                                        <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;">
                                            <strong>-----</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col"><label class="form-label">Sexo</label>
                                        <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;">
                                            <strong>{{ p.sexo }}</strong></p>
                                    </div>
                                    <div class="col"><label class="form-label">Data de Nascimento</label>
                                        <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;">
                                            <strong>{{ p.nascimento }} ({{ p.idade }} anos)</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col"><label class="form-label">Nacionalidade</label>
                                        <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;">
                                            <strong>{{ p.nacionalidade }}</strong></p>
                                    </div>
                                    <div class="col"><label class="form-label">Referenciação</label>
                                        <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;">
                                            <strong>{{ p.referenciacao }}</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col"><label class="form-label">Telemóvel</label>
                                        <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;">
                                            <strong>-----</strong></p>
                                    </div>
                                    <div class="col"><label class="form-label">E-Mail</label>
                                        <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;">
                                            <strong>{{ p.email }}</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="transform: scale(1);width: 100px;"></div>
                            <div class="col-md-6" style="transform: scale(1);width: 550px;">
                                <div class="row">
                                    <div class="col" style="height: 186px;"><label
                                            class="form-label">Diagnósticos</label>
                                        <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;">
                                            <strong>
                                                {% for d in p.diagnosticos.all %}
                                                    {{ d }}
                                                    {% if forloop.counter > 1 %}
                                                        ,
                                                    {% endif %}
                                                {% endfor %}
                                            </strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col"><label class="form-label">Cuidador</label>
                                        <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;">
                                            <strong>
                                                {% if cuidadores|length == 0 %}
                                                    Não tem Cuidador.
                                                {% else %}
                                                    {{ cuidadores }}
                                                {% endif %}

                                            </strong></p>
                                    </div>
                                    <div class="col"><label class="form-label">Grupo CARE</label>
                                        <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;">
                                            <strong>Grupo 3 - Nível A</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>