{% load static %}
{% load tags %}

<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
            <!-- Perfil-->
            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold" style="font-size: 20px">PERFIL</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td rowspan="4" class="align-content-center align-middle" style="width: 15%">
                                            <div class="col-md-6 text-nowrap d-xl-flex " style="width: 150px;padding: 12px;">
                                                <img class="rounded-circle img-fluid " src="{% static 'protocolo/img/placeholder-avatar.png' %}" width="200px" height="200px">
                                            </div>
                                        </td>
                                        <td class="text-start" style="text-align: center;">
                                            <label class="form-label">Nome</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {{ patient.nome }}
                                            </p>
                                        </td>
                                        <td class="text-start" style="text-align: center;">
                                            <label class="form-label">Data de Nascimento</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold;">
                                                {{ patient.nascimento }} ({{ age }} anos)
                                            </p>
                                        </td>
                                        <td class="text-start" style="text-align: center;">
                                            <label class="form-label">Grupo COG</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold;">
                                                {% if not patient.grupoCog %}
                                                    Não tem grupo COG
                                                {% else %}
                                                    {{ patient.grupoCog.nome }}
                                                {% endif %}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">Sexo</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {{ patient.sexo }}
                                            </p>
                                        </td>
                                        <td>
                                            <label class="form-label">Referenciação</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {{ patient.referenciacao }}
                                            </p>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">Nacionalidade</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {{ patient.nacionalidade }}
                                            </p>
                                        </td>
                                        <td></td>
                                        <td>
                                            <label class="form-label">Cuidador(es)</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {% if cuidadores|length == 0 %}
                                                    Não tem cuidador
                                                {% else %}
                                                    {{ cuidadores }}
                                                {% endif %}
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="form-label">Telemóvel</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                ------
                                            </p>
                                        </td>
                                        <td>
                                            <label class="form-label">Email</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                {{ patient.email }}
                                            </p>
                                        </td>
                                        <td>
                                            <label class="form-label">Grupo CARE</label>
                                            <p style="color: var(--bs-gray-dark);padding-top: 0px;margin-top: -10px;font-weight: bold">
                                                ------
                                            </p>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Visao Geral Da Avaliacao-->
            <div class="container-fluid" style="margin-top: 25px">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p style="font-size: 20px" class="text-primary m-0 fw-bold">VISÃO GERAL DA AVALIAÇÃO</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" style="overflow-x:auto;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="position:sticky; left:0; background-color: rgba(255,255,255, 1); min-width: 20rem"></th>
                                        {% for part in partedoutilizador %}
                                            {% if part.part.name != 'MentHA-Risk' and part.part.name != 'Teste Livre' %}
                                                <th style="text-align: center; min-width: 16rem">{{ part.part.name }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for text in overview_list %}
                                        <tr>
                                            <td style="position:sticky; left: 0; background-color: rgba(255,255,255, 1)">{{ text }}</td>
                                            {% for part in partedoutilizador %}
                                                {% if part.part.name != 'MentHA-Risk' and part.part.name != 'Teste Livre' %}
                                                    {% get_if_done_from_percentage_list percentages part.part.order text as done_text %}
                                                        {% if done_text == 'done' %}
                                                    <td style="text-align: center;background-color: rgba(0,255,0,0.1)">
                                                        <i class="fa fa-check" style="color: rgba(0,128,0,0.5)"></i>
                                                        {% elif done_text == 'not done' or done_text == None %}
                                                    <td style="text-align: center; background-color: rgba(255,0,0,0.1)">
                                                        <i class="fa fa-close" style="color: rgba(255,0,0,0.5)"></i>
                                                        {% elif done_text == 'does not exist' %}
                                                    <td style="background-color: rgba(0,0,0,0.0);text-align: center;">
                                                        <i class="fas fa-window-minimize" style="color: rgba(0,0,0,0.1)"></i>
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    <tr></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>