{% include 'protocolo/tree.html' %}
<div class="question-container">
    <h4>{{ question.name }}</h4>
    {% if question.description %}
        <h8>{{ question.description | linebreaks }}</h8>
    {% endif %}
    {% if question.instruction %}
        <b>Instrução:</b> {{ question.instruction }}
    {% endif %}

    {% if question.helping_images.all %}
        <h6><b>Imagens de suporte:</b></h6>
        {% for image in question.helping_images.all %}
            <a target="_blank" href="{{ image.image.url }}">
                <img class="img-preview" src="{{ image.image.url }}">
            </a>
        {% endfor %}
    {% endif %}

    {% if question.possible_answers.all %}
        {% include 'protocolo/mcq_question.html' %}
    {% else %}
        {% include 'protocolo/upl_question.html' %}
    {% endif %}
    <br>
</div>