{% load tags %}
<div class="container-fluid">
    <div class="" style="padding:8px;">
        <div class="card-body card-flex" style="padding: 8px">
            {% include 'protocolo/tree.html' %}
            <a class="btn jq-btn mb-btn-outline btn-sm d-none d-sm-inline-block report-button"
                role="button"
                href="#"
                data-href="{% url 'protocolo:report' resolution %}"
                style="display: flex!important;height: 40px;width: 150px;align-items: center;justify-content: space-around;">
                <i class="fas fa-download"></i>&nbsp;Gerar Relatório
            </a>
        </div>
        <div class="">
            <h1 class="m-0 fw-bold mb-text fs-4" style="padding-left:7px; padding-top:20px">{{ dimension.name }}</h1>
            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                    aria-describedby="dataTable_info">
                <table class="table my-0 table-hover-light" id="dataTable">
                    <thead>
                    <tr>
                        <th style="text-align: left;width: 29%">Secções</th>
                        <th style="text-align: left;width: 15%">Cotação</th>
                        <th style="text-align: left;width: 25%">Progresso</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <!-- Iteration -->
                        {% for section,answered,percentage,quotation in sections %}
                            <!-- Name -->
                            <td style="vertical-align:middle;">
                            <a href="#" class="jq-btn no-decor"
                                    data-href="{% url 'protocolo:question' protocol.id part.id area.id instrument.id dimension.id section.id patient.id %}">
                                <button class="btn mb-btn" style="margin-bottom: 5px;width: 50%;text-align: left;">
                                    {{ section.order }}. {{ section.name }}</p>
                                </button>
                            </td>

                            <!-- Quotation -->
                            <td style="vertical-align:middle;">
                                <span class="tree-quotation">({% minimum quotation section.maximum_quotation %}/{{ section.maximum_quotation }})</span>
                            </td>

                            <!-- Progress Bar -->
                            <td style="vertical-align:middle;">
                                <div class="progress" style="text-align: right; height: 39px; background-color: white; border: 1px solid lightslategrey;">
                                    <div class="progress-bar" aria-valuenow="{{ percentage }}"
                                            aria-valuemin="0"
                                            aria-valuemax="100" style="width: {{ percentage }}%; background-color: lightslategrey;
                                            font-size: 16px; color: white;">
                                        {{ percentage }}%
                                    </div>
                                </div>
                            </td>
                    </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>