{% load tags %}

<div class="bcca-breadcrumb">
    <div class="bcca-breadcrumb-item fw-normal fs-4" style="display:none;">
    </div>

    {% if section is not None and section.name != "None" and 'Risk' not in section.name %}
        <div class="bcca-breadcrumb-item fw-normal fs-4">
            <a class="jq-btn" style="display: contents;" role="button"
               data-href="{% url 'protocolo:question' protocol.id part.id area.id instrument.id dimension.id section.id patient.id %}">
                Secções
            </a>
        </div>
    {% endif %}

    {% if dimension is not None and dimension.name != "None" and 'Risk' not in dimension.name %}
        <div class="bcca-breadcrumb-item fw-normal fs-4">
            <a class="jq-btn" style="display: contents;" role="button"
               data-href="{% url 'protocolo:sections' protocol.id part.id area.id instrument.id dimension.id patient.id %}">
                Dimensões
            </a>
        </div>
    {% endif %}

    {% if instrument is not None and instrument.name != "None" and 'Risk' not in instrument.name%}
        <div class="bcca-breadcrumb-item fw-normal fs-4">
            <a class="jq-btn" style="display: contents;" role="button"
               data-href="{% url 'protocolo:dimensions' protocol.id part.id area.id instrument.id patient.id %}">
                Instrumentos
            </a>
        </div>
    {% endif %}

    {% if area is not None and area.name != "None" and 'Risk' not in area.name %}
        <div class="bcca-breadcrumb-item fw-normal fs-4">
            <a class="jq-btn" style="display: contents;" role="button"
                    {% if instrument is not None and instrument.name == "None" %}
                        {% if dimension.name == "None"  and section.name == "None" %}
                            data-href="{% url 'protocolo:question' protocol.id part.id area.id instrument.id dimension.id section.id patient.id %}"
                        {% else %}
                            data-href="{% url 'protocolo:dimensions' protocol.id part.id area.id instrument.id patient.id %}"
                        {% endif %}
                    {% endif %}
               data-href="{% url 'protocolo:instruments' protocol.id part.id area.id patient.id %}">
               Dimensões
            </a>
        </div>
    {% endif %}

    {% if part.part is not None and 'Risk' not in part.part.name %}
    <div class="bcca-breadcrumb-item fw-normal fs-4">
        <a href="#" class="jq-btn" data-href="{% url 'protocolo:areas' protocol.id part.id patient.id %}">
            {{ part.part.name }}
        </a>
    </div>
    {% endif %}

    {% if 'Risk' in part.part.name %}
    <div class="bcca-breadcrumb-item fw-normal fs-4">
        <a href="#" class="jq-btn" data-href="{% url 'protocolo:question' protocol.id part.id area.id instrument.id dimension.id section.id patient.id %}">
            {{ part.part.name }}
        </a>
    </div>
    {% endif %}

    {% if protocol is not None %}
    <div class="bcca-breadcrumb-item fw-normal fs-4" style="display:none;"></div>
        <div class="bcca-breadcrumb-item fw-normal fs-4">
            <a data-href="{% url 'protocolo:participant' patient.id %}" class="jq-btn">
                <i class="fa-solid fa-address-card" style="color:white;"></i>
                {{ patient.nome }}
            </a>
        </div>
    {% endif %}

    <div class="bcca-breadcrumb-item fw-normal fs-4">
        <a data-href="{% url 'protocolo:participants' %}" class="jq-btn">
            <i class="fa-solid fa-user-check" style="color:white;"></i>
            MentHA-EVAL
        </a>
    </div>
</div>
