
<div id="home">

    {% load static %}

    <div class="hero">
        <div class="slogan">
            <p class="tituloSlogan">MentHA Digital</p>
            <p class="textoSlogan">Treino cognitivo de adultos mais velhos com demência e programa
                psico-educativo para seus
                cuidadores.</p>
        </div>
    </div>
    <div class="footer-logo">
        <div class="footer-block">
            <div class="heading">Promotor:</div>
                <div class="logo-carousel" id="promotor-carousel">
                    <div class="logo-track">
                    <img class="logo" src="{% static 'mentha/parceiros/lusofona.png' %}" alt="Logo Promotor">
                    <img class="logo" src="{% static 'mentha/parceiros/copelabs.png' %}" alt="Logo Promotor">
                    <img class="logo" src="{% static 'mentha/parceiros/cisis.png' %}" alt="Logo Promotor">
                </div>
            </div>
        </div>
        <div class="footer-block">
            <div class="heading">Financiador:</div>
            <img class="logo" src="{% static 'mentha/parceiros/dgs_footer.png' %}" alt="Logo Financiador">
        </div>
        <div class="footer-block">
            <div class="heading">Parcerias:</div>
            <div class="logo-carousel" id="parcerias-carousel">
                <div class="logo-track">
                    <img class="logo" src="{% static 'mentha/parceiros/gira.png' %}" alt="Logo Parcerias">
                    <img class="logo" src="{% static 'mentha/parceiros/adeb.png' %}" alt="Logo Parcerias">
                    <img class="logo" src="{% static 'mentha/parceiros/cvp.png' %}" alt="Logo Parcerias">
                    <img class="logo" src="{% static 'mentha/parceiros/crinabel.png' %}" alt="Logo Parcerias">
                    <img class="logo" src="{% static 'mentha/parceiros/elo.png' %}" alt="Logo Parcerias">
                    <img class="logo" src="{% static 'mentha/parceiros/asmal.png' %}" alt="Logo Parcerias">
                    <img class="logo" src="{% static 'mentha/parceiros/familiarmente.png' %}" alt="Logo Parcerias">
                    <img class="logo" src="{% static 'mentha/parceiros/apdp.png' %}" alt="Logo Parcerias">
                </div>
            </div>
        </div>
    </div>

    <div class="info">
        <div class="section-title">
            <div class="column">
                <p class="heading">Descubra as nossas aplicações: Melhorando a saúde mental e o bem-estar </p>
            </div>
            <div class="text-wrapper">
                <p class="text">
                    O projeto MentHA visa melhorar a qualidade de vida de adultos mais velhos com défices cognitivos e doenças mentais crónicas, assim como a de seus cuidadores informais, promovendo o acesso remoto a intervenções psicoeducativas, protocolos de avaliação neuropsicológica e programas de estimulação cognitiva
                </p>
            </div>    
        </div>
    </div>

    <div class="container-video">
        <div class="content">
            <div class="row-wrapper">
                <div class="column">
                    <iframe class="video" src="https://www.youtube.com/embed/8EtfSZjOR80" frameborder="0" allowfullscreen></iframe>
                    <div class="div">
                        <div class="content-text">
                            <p class="heading">MentHA COG: Programa de Estimulação Cognitiva </p>
                            <p class="text">
                                Programa de estimulação cognitiva, projetado para mitigar o declínio cognitivo em adultos mais velhos que apresentam sinais de demência ou comprometimento neuropsicológico
                            </p>
                        </div>
                        <div class="action">
                            <button id="ver-mais-mentha-cog" class="button">
                                <span class="text-wrapper">Ver mais</span>
                                <img class="icon-chevron-right" src="{% static 'mentha/icones/vectorRight.png' %}" >
                            </button>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <iframe class="video" src="https://www.youtube.com/embed/kdsiPTCYAt4" frameborder="0" allowfullscreen></iframe>
                    <div class="div">
                        <div class="content-text">
                            <p class="heading">MentHA EVAL: Avaliação Neuropsicológica </p>
                            <p class="text">
                                Ferramenta de avaliação neuropsicológica desenvolvida para monitorizar e validar os efeitos do programa de Estimulação Cognitiva MentHA-COG
                            </p>
                        </div>
                        <div class="action">
                            <button id="ver-mais-mentha-eval" class="button">
                                <span class="text-wrapper">Ver mais</span>
                                <img class="icon-chevron-right" src="{% static 'mentha/icones/vectorRight.png' %}" >
                            </button>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <iframe class="video" src="https://www.youtube.com/embed/x-1f6qATk-U?si=nBLJMUAV3K4DDNVi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="div">
                        <div class="content-text">
                            <p class="heading">MentHA CARE: Programa de Apoio Psicoeducativo para Cuidadores</p>
                            <p class="text">
                                Programa psicoeducativo inovador, desenhado para apoiar cuidadores informais e formais na gestão dos desafios associados ao cuidado de pessoas com comprometimentos neuropsicológicos
                            </p>
                        </div>
                        <div class="action">
                            <button id="ver-mais-mentha-care" class="button">
                                <span class="text-wrapper">Ver mais</span>
                                <img class="icon-chevron-right" src="{% static 'mentha/icones/vectorRight.png' %}" >
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <div class="hero"  style="height: 30em;">
        <div class="slogan">
            <p class="tituloSlogan">Melhorar o bem-estar </p>
            <p class="textoSlogan">de adultos mais velhos com demência e dos seus
                cuidadores
                <!-- <br> através de programas de treino
    cognitivo e psico-educativos.  -->
                <span style="display:inline-block; width:60vw"></span></p>
        </div>
    </div>

    <div class="branco">
        <div class="titulo">Parceiros</div>
        <div class="texto">
            <p>
                O projeto é co-desenvolvido com os seus utilizadores finais. </p>
            <p>Foram estabelecidos protocolos com parceiros que trabalham na área de intervenção:</p>
            <div class="parceiros">
                <div class="logo"><img src="{% static 'mentha/parceiros_sm/adebe.png' %}" alt=""></div>
                <div>
                    <p>Associação de Apoio aos Doentes Depressivos e Bipolares (<b>ADEB</b>)</p>
                </div>
                <div class="logo"><img src="{% static 'mentha/parceiros_sm/asmal.png' %}" alt=""></div>
                <div>
                    <p>Associação de Saúde Mental do Algarve (ASMAL)</p>
                </div>
                <div class="logo"><img src="{% static 'mentha/parceiros_sm/elo.png' %}" alt=""></div>
                <div>
                    <p>Associação para Integração e Apoio ao Deficiente Jovem e Adulto (<b>Elo Social</b>)
                    </p>
                </div>
                <div class="logo"><img src="{% static 'mentha/parceiros_sm/cvp.jpg' %}" alt=""></div>
                <div>
                    <p>Cruz Vermelha Portuguesa (<b>CVP</b>)</p>
                </div>
                <div class="logo"><img src="{% static 'mentha/parceiros_sm/familiarmente.jpg' %}" alt="">
                </div>
                <div>
                    <p>Federação Portuguesa das Associações das familias de pessoas com experiência de
                        Doença Mental
                        (<b>FamiliarMente</b>)</p>
                </div>
                <div class="logo"><img src="{% static 'mentha/parceiros_sm/gira.png' %}" alt=""></div>
                <div>
                    <p>Grupo de Intervenção e Reabilitação Activa (<b>GIRA</b>) </p>
                </div>
            </div>
        </div>
    </div>


    <div class="hero" style="height: 10em;">
        <div class="next">
            <span class="material-symbols-outlined">expand_more</span>
        </div>
    </div>


    <div class="blue">
        <div class="titulo">Enquadramento</div>
        <div class="texto">

            <p>O projeto MentHA Digital vem no seguimento do projeto <a href="http://www.projetomentha.com"
                    target="_blank" style="color:white;" ;>MentHA</a>,
                que decorreu entre 2016-2018, financiado pela DGS. </p>
            <p> Neste foram desenvolvidos programas de <b>intervenção não
                    farmacológica</b> que
                contribuem para melhorar o bem-estar e a qualidade de vida de adultos mais velhos com
                patologia mental
                crónica e dos seus cuidadores formais e informais.</p>
            <p>A implementação deste projecto procura dar respostas às recomendações do Plano Nacional de
                Saúde Mental, bem
                como
                às principais orientações defendias pela União Europeia e pela Organização Mundial de Saúde,
                no âmbito da
                saúdas mental das pessoas mais velhas.</p>
        </div>
    </div>



    <div class="hero" style="height: 10em;">
        <div class="next">
            <span class="material-symbols-outlined" style="color:#4EB4BE;">expand_more</span>
        </div>
    </div>




    <div class="branco" class="objetivos">
        <div class="titulo">Objetivos Gerais</div>
        <div class="texto">
            <p>O projecto MentHA pretende globalmente desenvolver acções que contribuam para <b>melhorar o
                    bem-estar e a
                    qualidade de vida</b> de adultos mais velhos com patologia mental crónica e dos seus
                cuidadores formais
                e informais.</p>

            <p>Estas ações contemplam a implementação de <b>programas de interação não farmacológica</b>
                validados e
                adaptados a um
                modo misto - presencial e remoto - por forma a contrariar os efeitos do agravamento do
                estado de saúde,
                da
                alteração de contexto geográfico, do distanciamento social e/ou de situação de isolamento.
            </p>

            <p>O projeto promove o <b>desenvolvimento e utilização de aplicações web</b> que permitem
                realizar intervenções psicossociais por profissionais com formação e supervisão, em
                diferentes contextos,
                por
                forma a prevenir e retardar perdas cognitivas em estados iniciais de demência.</p>
        </div>
    </div>


    <div class="hero" style="height: 10em;" class="expectativas">
        <div class="next">
            <span class="material-symbols-outlined">expand_more</span>
        </div>
    </div>


    <div class="blue" class="expectativas">
        <div class="titulo">Expectativas</div>
        <div class="texto">
            <p>Esta plataforma permitirá que profissionais de saúde realizem <b>intervenções psicossociais
                    em modo
                    misto - presencial e remoto</b> - por forma a ultrapassar os efeitos do agravamento do
                estado de saúde,
                da alteração de contexto geográfico, do distanciamento social e/ou de situação de
                isolamento.
            </p>
            <p>
                Através da DGS, pretende-se que a plataforma aplicacional MentHA Digital será
                disponibilizada a
                instituições e técnicos da área, em todo o país, potencializando a viabilidade deste projeto
                em
                grande escala.</p>
        </div>
    </div>


    <div class="hero" style="height: 10em;" class="impacto">
        <div class="next">
            <span class="material-symbols-outlined" style="color:#4EB4BE;">expand_more</span>
        </div>
    </div>

    <div class="branco" class="impacto">
        <div class="titulo">Impacto</div>
        <div class="texto">
            <p>
                O projecto MentHA Digital compreende uma estratégia de promoção e
                desenvolvimento de equipas e unidades dedicadas à saúde mental comunitária, em sectores
                geo-demográficos
                destintos (rurais e urbanos) e, simultaneamente, contribuir para a implementação de
                programas de apoio a
                doentes idosos.
            </p>
            <p>
                Prevê-se um impacto significativo ao nível dos doentes mais velhos (com diferentes
                patologias
                mentais) e das suas famílias, graças a respostas (i) diferenciadas, (ii) adequadas aos
                diferentes
                estádios da doença e (ii) integradas numa rede progressiva de cuidados.
            </p>
            <p>
                Este projeto representaum suporte às famílias, aos serviços de saúde e da ação social
                locais, e criam-se
                condições mais favoráveis à
                manutenção da pessoa no seu domicílio/comunidade.
            </p>
        </div>
    </div>


    <div class="hero" style="height: 20vh;"></div>


</div>