
<div id="home">

    {% load static %}

    <div class="hero">
        <div class="slogan">
            <p class="tituloSlogan">MentHA Digital</p>
            <p class="textoSlogan">Treino cognitivo de adultos mais velhos com demência e programa
                psico-educativo para seus
                cuidadores.</p>
        </div>
    </div>
    <div class="footer-logo">
        <div class="footer-block">
            <div class="heading">Promotor:</div>
                <div class="logo-carousel" id="promotor-carousel">
                    <div class="logo-track">
                        <a href="https://copelabs.ulusofona.pt/" target="_blank">
                            <img class="logo" src="{% static 'mentha/parceiros/copelabs.png' %}" alt="Logo Promotor">
                        </a>
                        <a href="https://www.ulusofona.pt/" target="_blank">
                            <img class="logo" src="{% static 'mentha/parceiros/lusofona.png' %}" alt="Logo Promotor">
                        </a>
                        <a href="https://cisis.ulusofona.pt/" target="_blank">
                            <img class="logo" src="{% static 'mentha/parceiros/cisis.png' %}" alt="Logo Promotor">
                        </a>
                </div>
            </div>
        </div>
        <div class="footer-block">
            <div class="heading">Financiador:</div>
            <a href="https://www.dgs.pt/" target="_blank">
                <img class="logo" src="{% static 'mentha/parceiros/dgs_footer.png' %}" alt="Logo Financiador">
            </a>
        </div>
        <div class="footer-block">
            <div class="heading">Parcerias:</div>
            <div class="logo-carousel" id="parcerias-carousel">
                <div class="logo-track">
                    <a href="https://www.gira.org.pt/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/gira.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://www.adeb.pt/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/adeb.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://www.cruzvermelha.pt/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/cvp.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://www.crinabel.pt/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/crinabel.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://www.elosocial.org/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/elo.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://asmal.org.pt/asmal/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/asmal.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://familiarmente.pt/missao-e-objectivos/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/familiarmente.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://apdp.pt/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/apdp.png' %}" alt="Logo Parcerias">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="info">
        <div class="section-title">
            <div class="column">
                <p class="heading">Descubra as nossas aplicações: Melhorando a saúde mental e o bem-estar </p>
            </div>
            <div class="text-wrapper">
                <p class="text">
                    O projeto MentHA visa melhorar a qualidade de vida de adultos mais velhos com défices cognitivos e doenças mentais crónicas, assim como a de seus cuidadores informais, promovendo o acesso remoto a intervenções psicoeducativas, protocolos de avaliação neuropsicológica e programas de estimulação cognitiva
                </p>
            </div>    
        </div>
    </div>

    <div class="container-video">
        <div class="content">
            <div class="row-wrapper">
                <div class="column">
                    <iframe class="video" src="https://www.youtube.com/embed/Yp2jd09S4Rc?si=VYFceNLms30M_C-G" frameborder="0" allowfullscreen></iframe>
                    <div class="div">
                        <div class="content-text">
                            <p class="heading">MentHA COG: Programa de Estimulação Cognitiva </p>
                            <p class="text">
                                Programa de estimulação cognitiva, projetado para mitigar o declínio cognitivo em adultos mais velhos que apresentam sinais de demência ou comprometimento neuropsicológico
                            </p>
                        </div>
                        <div class="action">
                            <button id="ver-mais-mentha-cog" class="button">
                                <span class="text-wrapper">Ver mais</span>
                                <img class="icon-chevron-right" src="{% static 'mentha/icones/vectorRight.png' %}" >
                            </button>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <iframe class="video" src="https://www.youtube.com/embed/QzncV6UIshw?si=mkFAmeHK0hWz9G8H" frameborder="0" allowfullscreen></iframe>
                    <div class="div">
                        <div class="content-text">
                            <p class="heading">MentHA EVAL: Avaliação Neuropsicológica </p>
                            <p class="text">
                                Ferramenta de avaliação neuropsicológica desenvolvida para monitorizar e validar os efeitos do programa de Estimulação Cognitiva MentHA-COG
                            </p>
                        </div>
                        <div class="action">
                            <button id="ver-mais-mentha-eval" class="button">
                                <span class="text-wrapper">Ver mais</span>
                                <img class="icon-chevron-right" src="{% static 'mentha/icones/vectorRight.png' %}" >
                            </button>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <iframe class="video" src="https://www.youtube.com/embed/cRAcrllrgiI?si=qOPi5q1HEhl9Utv2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <div class="div">
                        <div class="content-text">
                            <p class="heading">MentHA CARE: Programa de Apoio Psicoeducativo para Cuidadores</p>
                            <p class="text">
                                Programa psicoeducativo inovador, desenhado para apoiar cuidadores informais e formais na gestão dos desafios associados ao cuidado de pessoas com comprometimentos neuropsicológicos
                            </p>
                        </div>
                        <div class="action">
                            <button id="ver-mais-mentha-care" class="button">
                                <span class="text-wrapper">Ver mais</span>
                                <img class="icon-chevron-right" src="{% static 'mentha/icones/vectorRight.png' %}" >
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="parcerias">
        <div class="container">
          <div class="content"></div>
          <div class="div">
            <div class="content-2">
              <p class="heading">As nossas parcerias de renome na área da saúde mental</p>
              <p class="text">
                O projeto é co-desenvolvido com os seus utilizadores finais.<br />Foram estabelecidos protocolos com
                parceiros que trabalham na área de intervenção
              </p>
            </div>
            <div class="actions">
                <button id="saber-mais-parcerias" class="button">
                    <span class="text-wrapper">Saber mais</span>
                  </button>
            </div>
          </div>
          <div class="column">
            <div class="row">
                <a href="https://www.adeb.pt/" target="_blank">
                    <img class="image" src="{% static 'mentha/parceiros/adeb.png' %}" />
                </a>
            </div>
            <div class="img-wrapper">
                <a href="https://www.crinabel.pt/" target="_blank">
                    <img class="image" src="{% static 'mentha/parceiros/crinabel.png' %}" />
                </a>
            </div>
            <div class="img-wrapper">
                <a href="https://familiarmente.pt/missao-e-objectivos/" target="_blank">
                    <img class="image" src="{% static 'mentha/parceiros/familiarmente.png' %}" /> 
                </a>          
            </div>
            <div class="img-wrapper">
                <a href="https://www.elosocial.org/" target="_blank">
                    <img class="image" src="{% static 'mentha/parceiros/elo.png' %}" />
                </a>
            </div>
          </div>
          <div class="column">
            <div class="row">
                <a href="https://asmal.org.pt/asmal/" target="_blank">
                    <img class="image" src="{% static 'mentha/parceiros/asmal.png' %}" />
                </a>
            </div>
            <div class="img-wrapper">
                <a href="https://www.cruzvermelha.pt/" target="_blank">
                    <img class="image" src="{% static 'mentha/parceiros/cvp.png' %}" />
                </a>
            </div>
            <div class="img-wrapper">
                <a href="https://www.gira.org.pt/" target="_blank">
                    <img class="image" src="{% static 'mentha/parceiros/gira.png' %}" />
                </a>
            </div>
            <div class="img-wrapper">
                <a href="https://apdp.pt/" target="_blank">
                    <img class="image" src="{% static 'mentha/parceiros/apdp.png' %}" />
                </a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="enquadramento">
        <div class="container">
            <img class="image-enquadramento" src="{% static 'mentha/icones/enquadramentoFoto.png' %}">
            <div class="content">
                <div class="heading">Enquadramento</div>
                <p class="text">
                    <span class="text-wrapper">O projeto MentHA Digital vem no seguimento do projeto </span>
                    <span class="span">MentHA </span>
                    <span class="text-wrapper">que decorreu entre 2016-2018, financiado pela DGS.</span>
                </p>
                <p class="text">
                    <span class="text-wrapper">Neste foram desenvolvidos programas de </span>
                    <span class="span">intervenção não farmacológica </span>
                    <span class="text-wrapper">que contribuem para melhorar o bem-estar e a qualidade de vida de adultos mais velhos com patologia mental crónica e dos seus cuidadores formais e informais.</span>
                </p>
                <p class="text">
                    <span class="text-wrapper">A implementação deste projeto procura dar respostas às recomendações do </span>
                    <span class="span">Plano Nacional de Saúde Mental </span>
                    <span class="text-wrapper">, bem como às principais orientações defendias pela União Europeia e pela Organização Mundial de Saúde, no âmbito da saúdas mental das pessoas mais velhas.</span>
                </p>
            </div>
        </div>
    </div>


    <div class="objetivos">
        <div class="section-title">
            <div class="column">
                <div class="heading">Objetivos Gerais</div>
                <div class="action">
                    <button id="ver-mais-projeto" class="button">
                        <span class="text-wrapper-ver-mais">Ver mais</span>
                        <img class="icon-chevron-right" src="{% static 'mentha/icones/vectorRight.png' %}" >
                    </button>
                </div>
            </div>
            <div class="text-wrapper">
                <p class="text">
                    <span class="text-black">O projecto MentHA pretende globalmente desenvolver acções que contribuam para </span>
                    <span class="span">melhorar o bem-estar e a qualidade de vida </span>
                    <span class="text-black">de adultos mais velhos com patologia mental crónica e dos seus cuidadores formais e informais.</span>
                </p>
                <p class="text">
                    <span class="text-black">Estas ações contemplam a implementação de </span>
                    <span class="span"> programas de interação não farmacológica </span>
                    <span class="text-black">validados e adaptados a um modo misto - presencial e remoto - por forma a contrariar os efeitos do agravamento do estado de saúde, da alteração de contexto geográfico, do distanciamento social e/ou de situação de isolamento.</span>
                </p>
                <p class="text">
                    <span class="text-black">O projeto promove o </span>
                    <span class="span">desenvolvimento e utilização de aplicações web </span>
                    <span class="text-black">que permitem realizar intervenções psicossociais por profissionais com formação e supervisão, em diferentes contextos, por forma a prevenir e retardar perdas cognitivas em estados iniciais de demência.</span>
                </p>
            </div>    
        </div>
    </div>

    <div class="expectativas">
        <div class="container">
          <img class="image-expectativas" src="{% static 'mentha/icones/expectativasfoto.png' %}" />
          <div class="content">
            <div class="div">
              <p class="heading">Expectativas do projeto MentHA Digital</p>
              <p class="text">
                <span class="text-wrapper">Esta plataforma permitirá que profissionais de saúde realizem </span>
                <span class="span">intervenções psicossociais em modo misto</span>
                <span class="text-wrapper">
                  - presencial e remoto - por forma a ultrapassar os efeitos do agravamento do estado de saúde, da
                  alteração de contexto geográfico, do distanciamento social e/ou de situação de isolamento.<br
                /></span>
              </p>
            </div>
            <div class="row-wrapper">
              <div class="row">
                <div class="list-item">
                  <div class="heading-list-item">Disponibilização da plataforma</div>
                  <p class="text">
                    Através da DGS, pretende-se que a plataforma aplicacional MentHA Digital seja disponibilizada a
                    instituições e técnicos da área, em todo o país, potencializando a viabilidade deste projeto em grande
                    escala.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="content-2"></div>
        </div>
      </div>

      <div class="impacto">
        <div class="container">
          <div class="content">
            <div class="div">
              <div class="div-2">
                <div class="tagline-wrapper"><div class="tagline">MentHA Digital</div></div>
                <div class="content-2">
                  <p class="heading">Transformar a saúde mental em Portugal</p>
                  <p class="text">
                    O projeto MentHA Digital compreende uma estratégia de promoção e desenvolvimento de equipas e unidades
                    dedicadas à saúde mental comunitária, atuando em diferentes setores geo-demográficos, tanto rurais
                    quanto urbanos. Além disso, busca contribuir para a implementação de programas de apoio a doentes
                    idosos.
                  </p>
                </div>
              </div>
              <div class="div-2">
                <div class="row">
                  <div class="list-item">
                    <img class="icon" src="{% static 'mentha/icones/olho.png' %}" />
                    <div class="text-wrapper">Nossa Visão</div>
                    <p class="text">
                      Criar uma rede progressiva de cuidados que ofereça respostas diferenciadas e adequadas aos
                      diferentes estádios da doença mental, promovendo o bem-estar dos idosos e suas famílias.
                    </p>
                  </div>
                  <div class="list-item">
                    <img class="icon" src="{% static 'mentha/icones/alvo.png' %}" />
                    <div class="text-wrapper">Nosso Impacto</div>
                    <p class="text">
                      Prevê-se um impacto significativo na qualidade de vida dos doentes mais velhos, garantindo suporte
                      às famílias, aos serviços de saúde e à ação social locais. Com isso, criam-se condições mais
                      favoráveis para a manutenção da pessoa no seu domicílio e comunidade, fortalecendo a sua autonomia e
                      conexão social.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img class="image" src="{% static 'mentha/icones/impactoFoto.png' %}" />
        </div>
      </div>

      <div class="footer-logo">
        <div class="footer-block">
            <div class="heading">Promotor:</div>
                <div class="logo-carousel" id="promotor-carousel-fim">
                    <div class="logo-track">
                        <a href="https://copelabs.ulusofona.pt/" target="_blank">
                            <img class="logo" src="{% static 'mentha/parceiros/copelabs.png' %}" alt="Logo Promotor">
                        </a>
                        <a href="https://www.ulusofona.pt/" target="_blank">
                            <img class="logo" src="{% static 'mentha/parceiros/lusofona.png' %}" alt="Logo Promotor">
                        </a>
                        <a href="https://cisis.ulusofona.pt/" target="_blank">
                            <img class="logo" src="{% static 'mentha/parceiros/cisis.png' %}" alt="Logo Promotor">
                        </a>
                </div>
            </div>
        </div>
        <div class="footer-block">
            <div class="heading">Financiador:</div>
            <a href="https://www.dgs.pt/" target="_blank">
                <img class="logo" src="{% static 'mentha/parceiros/dgs_footer.png' %}" alt="Logo Financiador">
            </a>
        </div>
        <div class="footer-block">
            <div class="heading">Parcerias:</div>
            <div class="logo-carousel" id="parcerias-carousel-fim">
                <div class="logo-track">
                    <a href="https://www.gira.org.pt/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/gira.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://www.adeb.pt/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/adeb.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://www.cruzvermelha.pt/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/cvp.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://www.crinabel.pt/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/crinabel.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://www.elosocial.org/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/elo.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://asmal.org.pt/asmal/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/asmal.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://familiarmente.pt/missao-e-objectivos/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/familiarmente.png' %}" alt="Logo Parcerias">
                    </a>
                    <a href="https://apdp.pt/" target="_blank">
                        <img class="logo" src="{% static 'mentha/parceiros/apdp.png' %}" alt="Logo Parcerias">
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>