#myVideo {
    object-fit: cover;
    object-position: left top;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    filter: brightness(40%);
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}


nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: #fffafa;
    box-sizing: border-box;
  }
  

  nav .content-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.25rem 1rem;
  }
  
  /* Conteúdo dentro do nav */
  nav .content {
    height: auto;
    max-height: 73px;
    padding: 0 2rem;
  }
  
  /* Container principal com elementos de navegação */
  nav .content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }
  
  /* Container das opções de navegação */
  nav .div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3rem;
    width: auto;
    margin-right: 45px;
  }
  
  /* Estilo dos links de navegação */
  nav .link-text {
    font-family: "Microsoft Sans Serif", Helvetica;;
    font-weight: 700;
    color: #333;
    font-size: 1rem; /* Tamanho de fonte mais flexível */
    line-height: 1.5rem;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; /* Para Safari */
    -ms-user-select: none;     /* Para IE */
    cursor: pointer;
  }

  nav .link-text:hover {
    color: #68bfc7;
    border-bottom: 2px solid #68bfc7;
  }
  
  /* Dropdown do link */
  nav .nav-link-dropdown {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
 
  /* Ícone do dropdown */
  nav .chevron-down {
    width: 0.8rem; 
    height: 0.8rem;
  }

  nav .chevron-up {
    width: 0.8rem; 
    height: 0.8rem;
  }
  
  /* Estilo do botão */
  nav .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.25rem;
    background-color: #68bfc7;
    border: 1px solid #68bfc7;
    border-radius: 1rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer; 
    transition: background-color 0.3s ease;
  }
  
  nav .button:hover {
    background-color: #4f9b9e; /* Cor de fundo ao passar o mouse */
  }

  nav .buttonOut {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.25rem;
    background-color: #68bfc7;
    border: 1px solid #68bfc7;
    color: #fff;
    font-size: 1rem;
    cursor: pointer; 
    transition: background-color 0.3s ease;
  }
  
  nav .buttonOut:hover {
    background-color: #4f9b9e; /* Cor de fundo ao passar o mouse */
  }
  
  /* Estilo do texto dentro do botão */
  nav .text-wrapper {
    font-family: "Microsoft Sans Serif", Helvetica;
    font-weight: 400;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }

  nav .user-info {
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 0.5rem;
    color: #333;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Arial-Bold", Helvetica;
    margin-right: 1rem;
    margin-left: 2rem;
  }
  
  nav .user-icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  
  /* Responsividade */
  @media (max-width: 1200px) {
    nav {
      padding: 0 1rem;
      height: 12vh;
    }
  
    nav .content {
      width: 25vw;
    }
  
    nav .div {
      gap: 1rem;
    }
  
    nav .div-2 {
      gap: 1rem;
    }
  
    nav .link-text {
      font-size: 0.9rem;
    }
  
    nav .actions {
      gap: 0.5rem;
    }
  }

  .nav-link-dropdown {
    position: relative;
    cursor: pointer;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    top: 140%;
    right: 50%;
    transform: translateX(50%);
    background-color: #fffafa;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    z-index: 20;
  }
  
  .dropdown-item {
    padding: 0.75rem 1rem;
    font-family: "Microsoft Sans Serif", Helvetica;
    font-weight: 700;
    font-size: 0.95rem;
    line-height: 1.5rem;
    color: #333;
    white-space: nowrap;
  }
  
  .dropdown-item:hover {
    background-color: #eee;
    color: #68bfc7;
  }



  nav .nav-programas-dropdown {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }


  .nav-programas-dropdown {
    position: relative;
    cursor: pointer;
  }

  nav .chevron-down-programas {
    width: 0.8rem; 
    height: 0.8rem;
  }

  nav .chevron-up-programas {
    width: 0.8rem; 
    height: 0.8rem;
  }

  .menu {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    position: absolute;
    top: 140%;
    right: 50%;
    transform: translateX(50%);
    background-color: #fffafa;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    z-index: 20;
  }

  .menu .menu-item {
    display: flex;
    width: 100%;
    align-items: flex-start;
    gap: 12px;
    padding: 8px 0;
    position: relative;
    flex: 0 0 auto;

  }

  .menu .menu-item:hover {
    background-color: #eee;
  }

  .menu .icon {
    width: 24px;
    height: 24px;
    position: relative;
    flex-shrink: 0;
  }


  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
  }


  .menu .menu-item img,
.menu .menu-item i {
  width: 24px;
  height: 24px;
  display: inline-block;
  flex-shrink: 0;
  object-fit: contain;
  vertical-align: middle;
  margin-top: 2px; /* afina visualmente conforme necessário */
}

  .menu .contentProgramas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }


  .menu .text-wrapper {
    position: relative;
    margin-top: -1.00px;
    font-family: "Microsoft Sans Serif", Helvetica;
    font-weight: 700;
    font-size: 0.95rem;
    line-height: 1.5rem;
    color: #68bfc7;
    white-space: nowrap;
    text-align: left;      
    padding-left: 0;       
    margin-left: 0; 
    white-space: nowrap;
  }

  .menu .divProgramas {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Microsoft Sans Serif", Helvetica;
    font-weight: 700;
    font-size: 0.95rem;
    line-height: 1.5rem;
    color: #333;
    white-space: nowrap;
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  @media (max-width: 768px) {
    nav {
      flex-direction: column;
      align-items: center;
      height: auto;
    }
  
    nav .content-wrapper {
      align-items: center;
    }
  
    nav .div {
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;
      width: 100%;
    }
  
    nav .div-2 {
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;
      width: 100%;
    }
  
    nav .button {
      width: 100%;
      padding: 0.75rem 0;
      margin-top: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    nav {
      padding: 0.5rem;
      height: auto;
    }
  
    nav .content {
      width: 40vw;
    }
  
    nav .div {
      flex-direction: column;
      gap: 1rem;
    }
  
    nav .div-2 {
      flex-direction: column;
      gap: 1rem;
    }
  
    nav .link-text {
      font-size: 0.85rem;
      cursor: pointer;
    }
  
    nav .button {
      width: 100%;
      padding: 0.75rem;
      font-size: 0.9rem;
    }
  
    nav .text-wrapper {
      font-size: 1rem;
    }
  }



  /**-------------------------------------------------------------------------------------------------------**/

:root{
    --mentha-blue: #4EB4BE;
    --mentha-blue-dark: #1e7d85;
}

#aplicacoes .aplicacao:hover,
#programa .caixa {
  cursor: pointer;
}



#mentha-cog
#a-videoconferencia,
#a-logout {
    display: none;
}

.espacolista,
div.hero {
    height: calc(100vh - 7em - 5em);
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    padding: 3em 0;
    align-items: center;
    justify-content: center;
}

.espacolista {
    height: 0;
    padding: 1em 0;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw;
}

.slogan .tituloSlogan {
    font-weight: 600;
    font-size: 4em;
    color: #4EB4BE;
    text-align: center;
}

.slogan .textoSlogan {
    font-size: 1.5em;
    font-style: italic;
    color: whitesmoke;
    line-height: 2;
    text-align: center;
    max-width: 40ch;
}


.next {
    position: absolute;
    bottom: 0;
    width: 100vw;
    font-size: 1.5em;

    color: white;
    padding: 0;
    line-height: 0.9em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    color: white;
}

.blue,
.branco {
    font-size: 1em;
    width: 100vw;
    max-width: 900px;
    margin: auto;
    padding: 5ch 5ch;
    border-radius: 1ch;
/*    box-shadow: -5px -5px 9px rgba(255, 255, 255, 0.45), 5px 5px 9px rgba(94, 104, 121, 0.3);
*/
    background: whitesmoke;
    opacity: 0.8;
}

input { font-size: 2em; color:black;}
.blue {
    background: #4EB4BE;
}

.branco {
    background: whitesmoke;
}

.titulo {
    padding: 0.5em 0 0.5em 0;
    font-size: 2em;
    font-weight: bold;
}

.branco .titulo {
    color: #4EB4BE;
}

.blue .titulo {
    color: white;
}

.subtitulo {
    padding: 0.5em 0 0.5em 0;
    font-size: 1.2em;
    font-weight: bold;
}

.blue .subtitulo {
    color: white;
}

.branco .subtitulo {
    color: #4EB4BE;
}

.texto p {
    text-align: justify;
    line-height: 1.5;
    /* margin: 0 0 0.7em 0; */
}

.blue b {
    font-weight: bold;
    color: whitesmoke;
}

.branco b {
    font-weight: bold;
    color: #4EB4BE;
}

li {
    line-height: 1.5;
    margin: 0.7em 0 0.7em 1em;
}

footer {
    font-size: 0.8em;
    height: 4em;
    color: white;
    /* width: 100vw; */
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 3;
    padding: 0 2em;
    background-color: none;
    opacity: 1;
    transition: opacity 0.5s, background-color 0.5s;

}

.close {opacity: 1;}

footer img {
    height: 2em;
}

header,
footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

footer > * {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

footer .parceirosfooter {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
}

footer img {
    margin: 0 0 0 8px;
}


/******PARCEIROS******************************/


/* #parceiros {
    display: flex;
    justify-content: center;
    align-items: flex-start;
} */

#parceiros .logo {
    display: block;
    width: 3em;
    margin: 1em;
}

#parceiros a {
    text-decoration: none;
    /* font-weight: 600; */
}

#parceiros .parceiro div.texto {
    display: none;
}

#parceiros .parceiro .subtitulo * {
    display: block;
    text-align: left;
}

#parceiros .parceiro .subtitulo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
}

/****** Equipa ******************************/

/* 
#equipa a {
    text-decoration: none;
    font-weight: 600;
} 
*/

#equipa .descricao {
    display: none;
    padding-left: 35em;
}

#equipa .investigador {
    padding: 2ch 5ch;
}

#equipa .investigador .nome * {
    text-align: left;
}

#equipa .investigador .nome {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
}


/******CONTACTO******************************/


#contacto th {
    color: white;
    font-weight: normal;
    text-align: right;
    padding-right: 3px;
    vertical-align: top;
}

#contacto table {
    border-spacing: 0 1em;
}

#contacto [for^="id_nome"]::after,
#contacto [for^="id_email"]::after,
#contacto [for^="id_assunto"]::after,
#contacto [for^="id_mensagem"]::after,
#contacto .nota::before {
    content: ' *';
    font-size: 0.7rem;
    vertical-align: super;
    color: red;
}


#contacto [for^="id_referenciacao"]::after,
#contacto [for^="id_telefone"]::after {
    content: '__';
    font-size: 0.7rem;
    color: #4EB4BE;
}

#contacto .nota {
    font-size: 0.7em;
    color: white;
    font-style: italic;
}

#contacto tr td:nth-child(2) {
    width: 100%;
}

#contacto input {
    color: black;
}

/******HOME INDEX******************************/

#home .parceiros div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#home .parceiros .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em 0 0;
}

#home .parceiros .logo img {
    display: block;
    width: 2em;
    padding-right: 0.5em;
}

#home .parceiros {
    display: grid;
    grid-template-columns: 4vw 1fr;
    gap: 1vw;
}

#home .parceiros a {
    text-decoration: none;
    font-weight: 600;
    color: #4EB4BE;
}

/******PARCEIROS******************************/

#parceiros {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#parceiros span.material-symbols-outlined {
    margin-left: auto;
}

#parceiros .logo {
    display: block;
    width: 3em;
}

#parceiros .subtitulo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#parceiros a {
    text-decoration: none;
    font-weight: 600;
}

#parceiros .subtitulo {
    text-align: left;
}

#parceiros div.texto {
    display: none;
}


/** noticias ****************************************/

#noticias .subtitulo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#noticias .subtitulo .right {
    font-size: 0.7em;
} 

#noticias img {
   display: block;
   width: 50%;
}


#noticias .imagem {
    padding-top: 1em;
    display: flex;
    justify-content: center;
}


/** cronograma *************************************************/


#projeto .cronograma {
    display:block;
}


#projeto .lista {
    display:none;
}

.cronograma {
    position: relative;
  }
  
  .cronograma table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}

  .cronograma .agora {
    position:absolute;
    border: 1px solid #4EB4BE;
    filter: brightness(60%);
    height:100%;
    background:white;
    left: calc(40% + 2 / 12 * 60% );
    bottom:0px;
  }
 
  .cronograma td {
    padding: 0.5em;
    text-align:center;
    width: calc( 1 / 12 * 60% );
  }
  
  /* ano alinhado à esquerda */ 
  .cronograma tr:first-child td {
    font-family: consolas;
    text-align:left;
    font-weight: bold;
  }

  /* nomes dos meses em monospace */
  .cronograma tr:nth-child(2) td {
    font-family: consolas;
  }
  
  
  /* primeira coluna */
  .cronograma tr td:first-child {
    text-align:left;
    width:40%;
    font-weight: bold;
    color: #4EB4BE;
  }
  
  .cronograma .task {
    background: whitesmoke;
    border: 1px solid #4EB4BE;
  }
  
  .cronograma .done {
    background: #4EB4BE;
  }

/** APP LIST **********************************************/
.mb-btn{
    color: white!important;
    background-color: var(--mentha-blue)!important;
    border-color: var(--mentha-blue)!important;
}

