<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    
    <meta charset="UTF-8">
    <title>MentHA Digital</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'diario/style.css'%}?{% now 'U' %}" rel="stylesheet">
    {% block head %} {% endblock %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
        {% block style %} {% endblock %}
    </style>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`
        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)
            const value = document.getElementById("sessaoGrupo_id").value;
            if(data.type === 'chat'){
                if(value != null){
                    if (value === data.message){
                        location.reload()
            }
            }
            }
        }
    </script>

    <script>

        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
    
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    
        {% block script %} {% endblock %}
    
    
    </script>

</head>

<body id="layout">
    <div class="sidebar">
        <div class="logo-details">
            <img src="{% static 'diario/img/mentha-logo.png' %}" alt=""
                 style="width:20%;">
            <span class="logo_name">MentHA Digital</span>
        </div>
        <div id="navegacao">
        </div>
            <div class="nav-links max-left">
                <a href="{% url 'diario:dashboard_Care' %}" class="active">
                    <i class="bx bx-home"></i>
                    <span class="links_name">Os Meus Grupos</span>
                </a>
            </div>
            <div class="nav-links">
                {% block menu %}
                <a href="{% url 'diario:nextSession' %}">
                    <i class='bx bxl-zoom'></i>
                    <span class="links_name">Próxima Sessão</span>
                </a>
                {% endblock %}
            </div>

            <div class="search-box">

            </div>
      <div class="nav-links">
                <!--<a href="" data-href="" class="active">
                    <i class="bx bx-home"></i>
                    <span class="links_name">Voltar ao menu</span>
                </a>-->
          <script>
              function listar_apps() {
                  fetch("{% url 'mentha:app-list' %}")
                    .then(response => response.text())
                    .then(text => {
                        document.querySelector('#app-list').innerHTML = text;
                    })
              }
          </script>

           <script>
            document.addEventListener('DOMContentLoaded', () => {
              const botao_menu = document.querySelector("#listar-apps")
              botao_menu.addEventListener("click", () => {
                  fetch("{% url 'mentha:app-list' %}")
                    .then(response => response.text())
                    .then(text => {
                        document.querySelector('#app-list').innerHTML = text;
                    })
              })
            })
          </script>


          <div onclick="listar_apps()">Voltar ao menu</div>

          <div id="listar-apps" >Listar Apps</div>

          <div id="app-list"></div>


      </div>
            <div class="profile-details nav-links">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                        <span class="admin_name">{{ request.user }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href=" {% url 'diario:logout_care_view' %}"><i class='bx bx-log-out'></i><span>Perfil</span></a>
                        </li>
                       <!-- <li>
                            <a class="dropdown-item" href="{% url 'diario:logout_care_view' %}"><span>Sair</span></a>
                        </li>-->
                    </ul>
                </li>
            </div>

    </div>

    <div id="content">
        {% block main %}
        {% endblock main %}
    </div>
              
</body>

</html>