{% extends 'diario/base.html' %}
{% load static %}
{% block main %}
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="d-sm-flex justify-content-between align-items-center mb-4">
            </div>
            <div class="container-fluid">
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>

                <div class="container text-start">
                    <div class="row">
                        <div class="col align-self-center">
                            <div style="display: flex;flex-direction: row;justify-content: space-between">
                                <div class="card-body" style="padding: 8px">
                                    <p class="m-0 fw-bold"
                                       style="margin: 5px; font-size: 26px; color: #4eb4be">
                                        Atualização da data da sessão
                                    </p>
                                </div>
                                <div>
                                    <form action="{% url 'diario:group_sessions' grupo_id %}">
                                        <button type="submit" class="btn mb-btn-outline" style="width: 150px">
                                            <i class="fa-solid fa-angle-left"></i> Anterior
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                <div class="container text-start">
                    <div class="row">
                        <div class="col align-self-center">
                            <div class="card">
                                <div class="card-body">

                                    <form method="post" style="justify-items: start">
                                        {% csrf_token %}
                                        {{ formDataSessao.data.label }}
                                        <p>{{ formDataSessao.data }}</p>
                                        <br>
                                        <div style="display: flex; justify-content: space-evenly;">
                                            <button type="submit" class="btn mb-btn-outline" style="width: 15%">
                                                Agendar
                                            </button>

                                            <a href="{% url 'diario:group_sessions' grupo_id %}">
                                                <button type="submit" class='btn btn-outline-danger' style="width: 200px">
                                                    Cancelar
                                                </button>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}