{% extends 'diario/base.html' %}
{
{% block style %}
nav a:nth-child(5) {
color: black;
font-weight: 600;
}
/***********************************************************/
/*  configuracao do layout geral da pagina                **/
/***********************************************************/
@media (max-width: 999px) {
main {
display:grid;
grid-template-columns: 1fr;
}
}
@media (min-width: 1000px) {
main {
display:grid;
grid-template-columns: 1fr 1fr;
}
}
/***********************************************************/
/*  configuracao do diario                                **/
/***********************************************************/
.diario > div {
padding: 0.5em;
margin: 0.5em;
font-size: 1em;
border-radius: 6px;
border: 0px;
border: 1px solid #4886d3;
background-color: white;
box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
.grupo .ver-grupo{
grid-area: grupo;
}
.grupo {
padding: 0.5em 4em 2em 3em;
}
.grupo button {
width: 100%;
}
.participantes {
padding: 0.5em 3em 2em 3em;
display: grid;
grid-template-columns: repeat(4, 1fr);
}
.diario .ver-notas {
grid-area: notas;
}
.diario .ver-respostas {
grid-area: respostas;
}
.diario .ver-informacoes {
grid-area: informacoes;
}
.diario .ver-partilhas {
grid-area: partilhas;
}
.diario .info {
grid-area: info;
height: 600px;
background-color: white;
}
/* configuração dos formulários das notas e partilhas */
.diario .info form {
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 0.2em;
padding: 1.5em;
}
/* configuração da data */
.info .data {
font-size: 0.5em;
color: grey;
font-style: italic;
padding: 0 0 0 1em;
}
/* configuração da lista */
.info ul > li {
padding: 0.5em 0;
}
/* configuração do botão "Guardar" dos formulários */
.info [type='submit'] {
background-color: #4886d3;
border-radius: 0 0 6px 6px;
color: white;
margin: 0em 0em 0em 0em;
}
/* configuração da área de texto */
.diario textarea {
resize: none;
border-radius: 6px 6px 0 0;
/* https://getcssscan.com/css-box-shadow-examples */
box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}
.diario {
margin: 0 3em;
display: grid;
grid-template-areas:
'notas partilhas respostas informacoes'
'info  info info info';
grid-template-columns: 1fr 1fr 1fr 1fr;
}
/***********************************************************/
/*  configuracao do diarioParticipante.html               **/
/***********************************************************/
div.detail-info-container > * {
padding:10px;
margin:5px;
}
.detail-info-container{
position:relative;
}
#informacoes{
display: flex;
flex-direction:column;
gap: 2em;
}
#informacoes > div {
padding:0.5em;
border-radius:1em;
}
.infos{
background-color: white;
display:none;
position: absolute;
z-index:2;
width:calc(100% - 10px);
top: calc(100%);
left:0px;
padding:10px 10px 10px 10px;
}
.titulo{
}
.selectedButton{
}
.ignoredButton{
display
}
/***********************************************************/
/*  configuracao da parte esquerda                        **/
/***********************************************************/
#esq {
width:calc(100% - 50px);
float: left;
padding: 1em;
display: grid;
gap: 1em;
grid-template-rows: auto auto 4em auto 1fr;
}
#esq > * {
margin-left: 150px;
background: white;
padding: 0.3em;
border:0.01em;
border-radius:5px;
border-style:solid;
border-color: transparent;
border: 1px solid #4886d3;
}
.detail-info-containers{
position:relative;
background-color: blue;
}
.space{
border-radius: 6px;
border: 0px solid #4886d3;
}
.in{
display:none;
position:absolute;
background-color: white;
z-index:10;
width:calc(100% - 20px);
top: calc(100%);
left:0px;
padding:10px 10px 10px 10px;
}
.tituloss{
background-color: transparent;
}
.ee {
height:auto;
}
/***********************************************************/
/*  configuracao da tabela                        **/
/***********************************************************/

div.table-title {
display: block;
margin: auto;
max-width: 600px;
padding:5px;
width: 100%;
}
.table-title h3 {
color: #fafafa;
font-size: 30px;
font-weight: 400;

text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
text-transform:uppercase;
}
/*** Table Styles **/
.table-fill {
background: white;
border-collapse: collapse;
height: 320px;
width: 100%;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
animation: float 5s infinite;
}
th {
color:black;
<!--#4886d3 cor azul-->
background:transparent;
border-bottom:4px solid black;
border-right: 1px solid transparent;
font-size:14px;
font-weight: bold;
padding:15px;
text-align:left;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
vertical-align:middle;
}
tr {
border-top: 1px solid #C1C3D1;
<!--border-bottom-: 1px solid red;-->
color:#1C1C1C;
font-size:16px;
font-weight:normal;
text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
tr:nth-child(odd) td {
background:transparent;
}
<!--tr:nth-child(odd):hover td {-->
<!--  background:#4E5066;-->
<!--}-->
tr:last-child td:last-child {
border-bottom-right-radius:3px;
}
td {
background:#FFFFFF;
padding:20px;
text-align:left;
vertical-align:middle;
font-weight:300;
font-size:12px;
text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
<!--border-right: 1px solid red;-->
}
td:last-child {
border-right: 0px;
}
th.text-left {
text-align: center;
}
th.text-center {
text-align: center;
}
th.text-right {
text-align: center;
}
td.text-left {
text-align: center;
}
td.text-center {
text-align: center;
}
td.text-right {
text-align: center;
}
.custom-btn {
width: auto;
height: auto;
padding: 10px 25px;
border: 2px solid #4886d3;

font-weight: 500;
background: transparent;
cursor: pointer;
transition: all 0.3s ease;
position: relative;
display: inline-block;
}
a.button5{
display:inline-block;
padding:0.46em 1.6em;
border:0.1em solid #000000;
margin:0 0.2em 0.2em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;

font-weight:300;
color:#000000;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
background-color:#FFFFFF;
text-align:center;
transition: all 0.15s;
}
a.button5:hover{
text-shadow: 0 0 2em rgba(255,255,255,1);
color:#FFFFFF;
border-color:#FFFFFF;
}
@media all and (max-width:30em){
a.button5{
display:block;
margin:0.4em auto;
}
}
{% endblock %}
}
// Em falta, criar botao de respostas e de informacoes com o seu conteudo

{% block script %}
<script>
        var menuAtivo;
        function ativaBotaoParticipante(id) {
            // desativa todos os botões
            document.querySelectorAll('.participantes button').forEach(button => {
                button.style.backgroundColor = 'whitesmoke';
                button.style.color = 'black';
                button.style.font_weight = '600';
            });
            //mostra botao respostas
            let buttonAnswer = document.querySelector('[data-menu="respostas"]');
            buttonAnswer.style.display='block';
            //esconde botao presencas
            let buttonPresences = document.querySelector('[data-menu="presencas"]');
            buttonPresences.style.display='none';
            // desativa o botao do grupo
            document.querySelectorAll('.grupo button').forEach(button => {
                button.style.backgroundColor = 'whitesmoke';
                button.style.color = 'black';
                button.style.font_weight = '600';
            });
            // obtém e ativa o botão do participante
            let buttonAtivo = document.querySelector(`[data-id="${id}"]`);
            buttonAtivo.style.backgroundColor = '#4886d3';
            buttonAtivo.style.color = 'white';
            buttonAtivo.style.font_weight = '600';
        }
        //Grupo
        function ativaBotaoGrupo(idGrupo) {
            // desativa todos os botões
            document.querySelectorAll('.participantes button').forEach(button => {
                button.style.backgroundColor = 'whitesmoke';
                button.style.color = 'black';
                button.style.font_weight = '600';
            });
            // obtém e ativa o botão do grupo
            let buttonAtivo = document.querySelector(`[data-idGrupo="${idGrupo}"]`);
            buttonAtivo.style.backgroundColor = '#4886d3';
            buttonAtivo.style.color = 'white';
            buttonAtivo.style.font_weight = '600';
            let buttonPresences = document.querySelector('[data-menu="presencas"]');
            buttonPresences.style.display='block';
             //esconde botao respostas
            let buttonAnswer = document.querySelector('[data-menu="respostas"]');
            buttonAnswer.style.display='none';
        }
        //Fim grupo
        function ativaMenu() {
            // põe botões de menu a branco + esconde respetiva info
            document.querySelectorAll('.menu').forEach(m => {
                m.style.backgroundColor = 'whitesmoke';
                m.style.color = 'black';
                m.font_weight = 'normal';
                document.querySelector(`#${m.dataset.menu}`).style.display = 'none';
            });
            menuAtivo.style.color = 'white';
            menuAtivo.style.font_weight = 'bold';
            menuAtivo.style.backgroundColor = '#4886d3';
            document.querySelector(`#${menuAtivo.dataset.menu}`).style.display = 'block';
        }
        function descarregaInfoParticipante(idSG, idPart) {
            /* vai buscar a informação do participante id */
            fetch('/diario_participante/' + idSG + '/' + idPart)
                .then(response => response.text())
                .then(text => document.querySelector('.info').innerHTML = text)
                .then(() => ativaMenu());
        }
        //Grupo
        function descarregaInfoGrupo(idGrupo) {
            /* vai buscar a informação do grupo id */
            fetch('/diario_grupo/' + idGrupo)
                .then(response => response.text())
                .then(text => document.querySelector('.info').innerHTML = text)
                .then(() => ativaMenu());
        }

        /***************************************************************************/
        /********** DOMContentLoaded ***********************************************/
        /***************************************************************************/
        document.addEventListener('DOMContentLoaded', function () {
            menuAtivo = document.querySelector("[data-menu='notas']");
            document.querySelector("[data-menu='respostas']").style.display = 'none';
            // onclick num participante
            document.querySelectorAll('.participantes button').forEach(botaoParticipante => {
                botaoParticipante.onclick = () => {
                    ativaBotaoParticipante(botaoParticipante.dataset.id);
                    descarregaInfoParticipante(botaoParticipante.dataset.id);
                }
            });
            //Grupo
            // onclick num grupo
            document.querySelectorAll('.grupo button').forEach(botaoGrupo => {
                botaoGrupo.onclick = () => {
                    ativaBotaoGrupo(botaoGrupo.dataset.idgrupo);
                    descarregaInfoGrupo(botaoGrupo.dataset.idgrupo);
                }
            });
            // onclick num botão de menu
            document.querySelectorAll('.menu').forEach(menu => {
                menu.onclick = () => {
                    menuAtivo = menu;
                    ativaMenu();
                }
            });
        });
        /* vai buscar ao formulario com id formId
        os dados e envia para servidor,
        e espera por info atualizada do participante */
        function sendForm(idSG, idPart, formId) {
            let data = new FormData(document.getElementById(formId));
            fetch(`/diario_participante/${idSG}/${idPart}`, {method: "POST", body: data})
                .then(response => response.text())
                .then(text => {
                    document.querySelector('.info').innerHTML = text;
                    ativaMenu();
                    ativaBotaoParticipante(id);
                });
            return false;
        }
        //Grupo
        /* vai buscar ao formulario com id formId
        os dados e envia para servidor,
        e espera por info atualizada do participante */
        function sendForm(idgrupo, formId) {
            let data = new FormData(document.getElementById(formId));
            fetch(`/diario_grupo/${idgrupo}`, {method: "POST", body: data})
                .then(response => response.text())
                .then(text => {
                    document.querySelector('.info').innerHTML = text;
                    ativaMenu();
                    ativaBotaoGrupo(idgrupo);
                });
            return false;
        }
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.ee button').forEach(button => {
                button.onclick = () => {
                    parte_id = button.dataset.parte;
                    fetch('/parte/'+ parte_id)
                        .then(response =>  response.text())
                        .then(data => {

                            const div = document.querySelector('div#exercicio');
                            div.innerHTML = data;
                        })
                        .then(data => {
                            <!-- timer -->
                            function startTimer(duration, display) {
                                var timer = duration, minutes, seconds;
                                setInterval(function () {
                                    minutes = parseInt(timer / 60, 10);
                                    seconds = parseInt(timer % 60, 10);
                                    minutes = minutes < 10 ? "0" + minutes : minutes;
                                    seconds = seconds < 10 ? "0" + seconds : seconds;
                                    display.innerHTML = minutes + ":" + seconds;
                                    if (--timer < 0) {
                                        timer = duration;
                                    }
                                }, 1000);
                            }
                            display = document.querySelector('#timer'); // selecionando o timer
                            var duration = parseInt(display.innerHTML) * 60; // Converter para segundos  -  {{ part.duracao }} *
                            startTimer(duration, display); // iniciando o timer
                        });
                }
            });
        });
</script>
{% endblock %}

{% block main %}
<body>
<main>

    <div id="esq">
        {% for sessao in sessao %}
        <div class="detail-info-containers"
             style="background-color:#4886d3;border-color:transparent;text-align: center;">
            {% for grupo in nomeGrupo %}
            <h3 style="color:white">Grupo: {{ grupo }} </h3>
            {% endfor %}
        </div>
        <div class="detail-info-containers" style="background-color:white;border-color:transparent;">
            <div class="tituloss"><h4>Sessão {{ sessao.numeroSessao}} : {{ sessao.nome }}</h4></div>
            <div class="tituloss"><h4>Tema: {{ sessao.tema }}</h4></div>
        </div>
        {% endfor %}
        <br><br>

        <div class="space" style="background-color: transparent; border: 0px solid transparent;"></div>
        <div class="ee">
            <div id="exercicio">
                <table class="table-fill">
                    <thead>
                    <tr>
                        <th class="text-left">Fase</th>
                        <th class="text-left">Objetivo</th>
                        <th class="text-left">Duração</th>
                        <th class="text-left">Detalhes</th>
                    </tr>
                    </thead>
                    <tbody class="table-hover">
                    {% for part in tipo %}
                    <tr>
                        <td class="text-left">
                            {% if part.fase == 'I' %}
                            Inicial
                            {% endif %}
                            {% if part.fase == 'D' %}
                            Desenvolvimento
                            {% endif %}
                            {% if part.fase == 'F' %}
                            Final
                            {% endif %}
                        </td>
                        <td class="text-left">
                            {{ part.objetivo }}
                        </td>
                        <td class="text-left">
                            {{ part.tempo }}/{{ part.duracao }}
                        </td>
                        <td class="text-left">
                            {% for sessao in sessao %}
                            {% for grupo in grupo %}
                            <button class="custom-btn btn-10" data-parte="{{part.id}}/{{grupo.id}}/{{sessao.id}}">Ver
                            </button>
                            {% endfor %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <br><br>
        <div style="border-color:transparent; background-color:rgba(0,0,0,0); color:black">
            {% for grupo in grupo %}
            <a href="{% url 'diario:group_sessions' grupo.id %}"
               style="border-color:transparent; background-color:rgba(0,0,0,0); color:black">
                <button  style="border-color: #4886d3; background-color: red;color: white;margin-left:520px">Terminar Sessão
                </button>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="direita">
        <div class="participantes">
            {% for participante in participantes %}
            <button style="border: 0px;
border: 1px solid #4886d3;" data-id-participante="{{ participante.id }}" data-id-sessao-grupo"{{sessao.id}}">{{ participante }}
            </button>
            {% endfor %}
        </div>

        <div class="grupo">
            {% for grupo in grupo %}
            <button style="border: 0px;
border: 1px solid #4886d3;" data-idgrupo="{{ grupo.id }}">Grupo
            </button>
            {% endfor %}
        </div>


        <div class="diario">

            <button style="border: 0px;
border: 1px solid #4886d3;" class="menu" data-menu="informacoes">Informações
            </button>
            <button style="border: 0px;
border: 1px solid #4886d3;" class="menu" data-menu="presencas">Presenças
            </button>
            <button style="border: 0px;border: 1px solid #4886d3;" class="menu" data-menu="respostas">Respostas
            </button>
            <button style="border: 0px;
border: 1px solid #4886d3;" class="menu" data-menu="notas">Notas
            </button>
            <button style="border: 0px;
border: 1px solid #4886d3;" class="menu" data-menu="partilhas">Partilhas
            </button>
            <div class="info"></div>
        </div>
    </div>
</main>

</body>

{% endblock %}