
<style>
.atividades {
  position: absolute;
  left: 100px;
  top: 150px;
}
</style>

<div id="notas" style="overflow: auto;">
    <form id="notaForm" onsubmit='event.preventDefault(); 
    sendFormParticipante(
        {{sessaoGrupo.id}}, 
        {{ participante_id }}, 
        "notaForm"
        );' method="post">
        {% csrf_token %}
        {{ notaForm.nota }}
        <input type="hidden" name="cuidador" value={{ participante_id }}>

        <button type="submit" name="nota">Guardar nota</button>

    </form>

    <hr>
    <h2><b>Notas de {{ participante.info_sensivel.nome }}</b></h2>
    <ul>
        {% if notas|length > 0 %}
        {% for nota in notas %}
        <li>{{ nota }} <span class="data">{{ nota.data }}</span></li>
        {% endfor %}
        {% else %}
        <li>Sem notas</li>
        {% endif %}
    </ul>


</div>

<div id="partilhas">
    <form id="partilhaForm" onsubmit='event.preventDefault(); sendFormParticipante({{sessaoGrupo.id}}, {{ participante_id }}, "partilhaForm");' method="post">
        {% csrf_token %}
        {{ partilhaForm.partilha }}
        <input type="hidden" name="participante" value={{ participante_id }}>
        <button type="submit" name="partilha">Guardar partilha</button>
    </form>

    <ul>
        {% if partilhas|length > 0 %}
        {% for partilha in partilhas %}
        <li>{{ partilha }} <span class="data">{{ partilha.data }}</span></li>
        {% endfor %}
        {% else %}
        <li>Sem partilhas</li>
        {% endif %}
    </ul>
</div>

<div id="respostas" data-participante="{{ participante.id }}">
 {% for pergunta,parte,pg,form in form_list %}
    <div id="flex-container">
        <div class="row">
            <div class="w-50" style="padding-top: 10px;
            padding-left: 25px;">
                {{ pergunta.nome }}
            </div>
            <div class="w-50" style="padding-top: 10px;
            padding-right: 25px;">
                {% comment %} {{ form.as_p }} {% endcomment %}
            {% if pergunta.tipo_resposta == 'UPLOAD_FOTOGRAFIA' %}
                <form action="preventDefault()" enctype="multipart/form-data">
                    {% for field in form %}
                        <div>
                            {{ field }} 
                            <span data-parteid="{{parte.id}}" data-partegrupoid="{{pg.id}}" data-perguntaid="{{pergunta.id}}" style="display:none"></span>
                        </div>
                    {% endfor %}
                </form>
            {% elif pergunta.tipo_resposta == 'ESCOLHA_MULTIPLA' %}
                {% include 'diario/escolha_multipla.html' %}
            {% else %}
                {% for field in form %}
                    <div>
                        {{ field }} 
                       <span data-parteid="{{parte.id}}" data-partegrupoid="{{pg.id}}" data-perguntaid="{{pergunta.id}}" style="display:none"></span>
                    </div>
                    {% if pergunta.postexto %}
                    <label>
                        {{ pergunta.postexto }}
                    </label>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
            </div>
            
    </div>
 {% endfor %}
    <button style="float:right;margin-top:15px"onclick="submete_diario({{sessaoGrupo.id}}, {{ participante.id }})" class="btn btn-primary">Submeter</button>
</div>

<div id="informacoes">
    
    <div class="detail-info-container1" id="information-container" onmouseover="showContent1(this)"
         onmouseout="hideContent1(this)">
        <div class="titulo">Nome Completo</div>
        <div class="detalhe">{{participante.info_sensivel.nome}}
        </div>
    </div>

    <div class="detail-info-container1" id="information-container" onmouseover="showContent1(this)"
         onmouseout="hideContent1(this)">
        <div class="titulo">Idade</div>
        <div class="detalhe">{{participante.idade}}
        </div>
    </div>

    <div class="detail-info-container1" id="information-container" onmouseover="showContent1(this)"
         onmouseout="hideContent1(this)">
        <div class="titulo">Sexo</div>
        <div class="detalhe">{{participante.sexo}}
        </div>
    </div>

    <div class="detail-info-container1" id="information-container" onmouseover="showContent1(this)"
         onmouseout="hideContent1(this)">
        <div class="titulo">Data de Nascimento</div>
        <div class="detalhe">{{participante.nascimento}}
        </div>
    </div>

    <div class="detail-info-container1" id="information-container" onmouseover="showContent1(this)"
         onmouseout="hideContent1(this)">
        <div class="titulo">Nacionalidade</div>
        <div class="detalhe">{{participante.nacionalidade}}
        </div>
    </div>

    <div class="detail-info-container1" id="information-container" onmouseover="showContent1(this)"
         onmouseout="hideContent1(this)">
        <div class="titulo">Diagnósticos</div>
        <div class="detalhe">{{participante.nacionalidade}}
        </div>
    </div>

    <div class="detail-info-container1" id="information-container" onmouseover="showContent1(this)"
         onmouseout="hideContent1(this)">
        <div class="titulo">Telemóvel</div>
        <div class="detalhe">{{participante.info_sensivel.telemovel}}
        </div>
    </div>

    <div class="detail-info-container1" id="information-container" onmouseover="showContent1(this)"
         onmouseout="hideContent1(this)">
        <div class="titulo">Email</div>
        <div class="detalhe">{{participante.info_sensivel.email}}
        </div>
    </div>

</div>

 <div id="presencas">

     <h1>Presencas do grupo {{ grupo_id }}</h1>

</div>