<style>
.atividades {
  position: absolute;
  left: 100px;
  top: 150px;
}


</style>

<div id="notas" style="overflow: auto;">
    <form id="notaForm" onsubmit='event.preventDefault(); 
    sendFormParticipante(
        {{sessaoGrupo.id}}, 
        {{ participante_id }}, 
        "notaForm"
        );' method="post">
        {% csrf_token %}
        {{ notaForm.nota }}
        <input type="hidden" name="cuidador" value={{ participante_id }}>
        <button type="submit" class="btn btn-primary" name="nota">Guardar nota</button>

    </form>

    <hr>
    <h2><b>Notas sobre {{ participante.info_sensivel.nome }}</b></h2>
    <ul>
        {% if notas|length > 0 %}
        {% for nota in notas %}
            {% if grupos_permissoes.exists %}
                {% if nota.anotador_dinamizador or nota.anotador_mentor %}
                    <li>{{ nota }} <span class="data">{{ nota.data_str }}</span></li>
                {% endif %}
            {% else %}
                {% if nota.anotador_dinamizador is None and nota.anotador_mentor is None %}
                    <li>{{ nota }} <span class="data">{{ nota.data_str }}</span></li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% else %}
        <li>Sem notas</li>
        {% endif %}
    </ul>


</div>

<div id="partilhas">
    <form id="partilhaForm"
          onsubmit='event.preventDefault(); sendFormParticipante({{sessaoGrupo.id}}, {{ participante_id }}, "partilhaForm");'
          method="post">
        {% csrf_token %}
        {{ partilhaForm.partilha }}
        <input type="hidden" name="participante" value={{ participante_id }}>
        <button type="submit" class="btn btn-primary" name="partilha">Guardar partilha</button>
    </form>

    <hr>
    <h2><b>Partilhas</b></h2>
    <ul>
        {% if grupos_permissoes.exists %}
            {% if partilhas|length > 0 %}
                {% for partilha in partilhas %}
                    {% if partilha.cuidador.id == participante_id %}
                        <li>{{ partilha }} <span class="data">{{ partilha.data_str }}
                    {% elif partilha.participante.id == participante_id %}
                        <li>{{ partilha }} <span class="data">{{ partilha.data_str }} {{ partilha.participante.nome }}
                    {% endif %}
                </span></li>
                {% endfor %}
                {% else %}
                <li>Sem partilhas</li>
            {% endif %}
        {% else %}
            {% if partilhas|length > 0 %}
                {% for partilha in partilhas %}
                <li>{{ partilha }} <span class="data">{{ partilha.data_str }}
                    {% if partilha.partilha_dinamizador %}
                        {{ partilha.partilha_dinamizador.nome }}
                    {% elif partilha.partilha_mentor %}
                        {{ partilha.partilha_mentor.nome }}
                    {% elif partilha.cuidador %}
                        {{ partilha.cuidador.nome }}
                    {% elif partilha.participante %}
                        {{ partilha.participante.nome }}
                    {% endif %}
                </span></li>
                {% endfor %}
                {% else %}
                <li>Sem partilhas</li>
            {% endif %}
        {% endif %}
    </ul>
</div>

<div id="respostas" style="display: none" data-participante="{{ participante.id }}">
    {% for pergunta,parte,pg,form in form_list %}
    <div id="flex-container">
        <div class="row">
            <div class="w-50" style="padding-top: 10px;
            padding-left: 25px;">
                {{ pergunta.nome }}
            </div>
            <div class="w-50" style="padding-top: 10px;
            padding-right: 25px;">
                {% comment %} {{ form.as_p }} {% endcomment %}
                {% if pergunta.tipo_resposta == 'UPLOAD_FOTOGRAFIA' %}
                <form action="preventDefault()" enctype="multipart/form-data">
                    {% for field in form %}
                    <div>
                        {{ field }}
                        <span data-parteid="{{parte.id}}" data-partegrupoid="{{pg.id}}"
                              data-perguntaid="{{pergunta.id}}" style="display:none"></span>
                    </div>
                    {% endfor %}
                </form>
                {% elif pergunta.tipo_resposta == 'ESCOLHA_MULTIPLA' %}
                {% include 'diario/escolha_multipla.html' %}
                {% else %}
                {% for field in form %}
                <div>
                    {{ field }}
                    <span data-parteid="{{parte.id}}" data-partegrupoid="{{pg.id}}" data-perguntaid="{{pergunta.id}}"
                          style="display:none"></span>
                </div>
                {% if pergunta.postexto %}
                <label>
                    {{ pergunta.postexto }}
                </label>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
    {% endfor %}
    <button style="float:right;margin-top:15px" onclick="submete_diario({{sessaoGrupo.id}}, {{ participante.id }})"
            class="btn btn-primary">Submeter
    </button>
</div>

<div id="informacoes" style="display: none">
    <table style="width:100%">
        <tr style="color:white; background-color:cornflowerblue;">
            <th><div class="titulo">Nome Completo:</div></th>
            <td style="padding:10px; text-align: left"><div class="detalhe">{{participante.info_sensivel.nome}}</div></td>
        </tr>

        <tr>
            <th><div class="titulo">Idade:</div></th>
            <td style="padding:10px; text-align: left"><div class="detalhe">{{participante.idade}}</div></td>
        </tr>

        <tr style="color:white; background-color:cornflowerblue;">
            <th><div class="titulo">Sexo:</div></th>
            <td style="padding:10px; text-align: left"><div class="detalhe">{{participante.sexo}}</div></td>
        </tr>

        <tr>
            <th><div class="titulo">Data de Nascimento:</div></th>
            <td style="padding:10px; text-align: left"><div class="detalhe">{{participante.nascimento}}</div></td>
        </tr>

        <tr style="color:white; background-color:cornflowerblue;">
            <th><div class="titulo">Nacionalidade:</div></th>
            <td style="padding:10px; text-align: left"><div class="detalhe">{{participante.nacionalidade}}</div></td>
        </tr>

        <tr>
            <th><div class="titulo">Diagnósticos:</div></th>
            <td style="padding:10px; text-align: left"><div class="detalhe">
                {{ participante.doencas_string }}
            </div></td>
        </tr>

        <tr style="color:white; background-color:cornflowerblue;">
            <th><div class="titulo">Telemóvel:</div></th>
            <td style="padding:10px; text-align: left"><div class="detalhe">{{participante.info_sensivel.telemovel}}</div></td>
        </tr>

        <tr>
            <th><div class="titulo">Email:</div></th>
            <td style="padding:10px; text-align: left"><div class="detalhe">{{participante.info_sensivel.email}}</div></td>
        </tr>
    </table>
</div>

<div id="presencas" style="display: none">

    <h1>Presencas do grupo {{ grupo_id }}</h1>

</div>