{% load markdownify %}
    {% csrf_token %}
    <div class="flex-container flex-item padding-top-25" style="flex-direction: row;">
            {% for opcao in pergunta.opcoes.all %}
                <div class="card" style="width: 10rem;">
                <img  src="{{ opcao.imagem.imagem.url }}" class="card-img-top imagem-escolha-multipla" alt="{{ opcao.imagem.nome }}">
                <div class="card-body">
                    <h5 class="card-title">{{ opcao.resposta}}</h5>
                    <input class="pergunta" id="{{ opcao.id }}" name="choice" type="radio" value="{{ opcao.id }}"
                        {% if opcao.id in ids_escolhidos %}
                            checked="checked"
                        {% endif %}
                />
                <span style="display:none">{{perg.id}}</span>
                </div>
                </div>
            {% endfor %}
    </div>
