{% extends 'diario/base.html' %}
{% load static %}
{% block main %}
<div class="container-fluid" style="margin-top:15px">
    <div class="container ">
        <div class="card shadow">
            <div class="card-body">
            <div class="titulo">
        <div class="card-body" style="padding: 8px">
            <p class="text-primary m-0 fw-bold"
                style="margin: 5px; font-size: 26px">Sessões do
                Grupo {{ grupo }}</p>
        </div>
        <form action="{% url 'diario:grupo_details' grupo.id %}">
            <button type="submit" class="btn btn-outline-primary" style="width: 150px">
                Anterior
            </button>
        </form>
    </div>
            <div class="table-responsive" style="margin-top:15px">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="text-align: center;"><strong>Sessão</strong></th>
                        {% if programa == "CARE" %}
                        <th style="text-align: center;"><strong>Nome</strong></th>
                        {% endif %}
                        <th style="text-align: center;"><strong>Data e hora</strong></th>
                        <th style="text-align: center;"><strong>Regime</strong></th>
                        <th style="text-align: center;"><strong>Estado</strong></th>
                        <th style="text-align: center;">Sessão</th>
                        <th style="text-align: center;">Materiais</th>
                    {% if grupos_permissoes.exists %}
                        <th style="text-align: center;">Relatório</th>
                    {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for sessao_do_grupo in sessoes_do_grupo %}
                    <tr>
                        <td style="text-align: center;">{{ sessao_do_grupo.sessao.numeroSessao }}
                        </td>
                        {% if programa == "CARE" %}
                        <td style="text-align: center;">{{ sessao_do_grupo.sessao.nome }}</td>
                        {% endif %}
                        <td style="text-align: center;">
                        {% if grupos_permissoes.exists %}
                            <a href="{% url 'diario:changeDate' sessao_do_grupo.sessao.id grupo.id %}">
                        {% endif %}
                                {% if sessao_do_grupo.data == None %}
                                <button class="btn btn-link">
                                    Não agendada
                                </button>

                                {% else %}
                                <!--                                            {{ sessao_do_grupo.data }}-->
                                <button class="btn btn-link">
                                    {{ sessao_do_grupo.data }}
                                </button>

                            </a>
                            {% endif %}

                        </td>
                        <td style="text-align: center;">{% if sessao_do_grupo.regime == 'P' %}
                            Presencial
                            {% endif %}
                            {% if sessao_do_grupo.regime == 'O' %}
                            Online
                            {% endif %}
                            {% if sessao_do_grupo.regime == 'M' %}
                            Misto
                            {% endif %}
                        </td>
                        <td style="text-align: center;">{% if sessao_do_grupo.estado == 'PR' %}
                            Por realizar
                            {% elif sessao_do_grupo.estado == 'EC' %}
                            Em curso
                            {% else %}
                            Realizado
                            {% endif %}
                        </td>

                        <td style="text-align: center;">

                            {% if sessao_do_grupo.id == proxima_sessao and  sessao_do_grupo.data is not Null and grupos_permissoes.exists %}
                            <form action="{% url 'diario:presencas_sessao' sessao_do_grupo.id %}">
                                <button class="btn btn-primary btn-sessao ee button">Iniciar</button>
                            </form>
                            {% elif sessao_do_grupo.id == sessao_em_curso and grupos_permissoes.exists %}
                            <form action="{% url 'diario:sessao' sessao_do_grupo.id grupo.id %}">
                                <button class="btn btn-primary btn-sessao">Continuar</button>
                            </form>
                            {% else %}
                            <a href="{% url 'diario:sessao' sessao_do_grupo.id grupo.id %}">
                                <button class="btn btn-outline-secondary btn-sessao">Plano</button>
                            </a>
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            {% if sessao_do_grupo.sessao.materiais|length > 0 %}
                             <button style="border-radius: 50%; border: 0; background-color: lightgray;">
                                 <a href="{{ sessao_do_grupo.sessao.materiais.url }}">
                                    &#128218;
                                </a>
                             </button>
                            {% else %}
                                &#10060;
                            {% endif %}
                        </td>
                        {% if grupos_permissoes.exists %}
                        <td style="text-align: center;">
                            {% if sessao_do_grupo.relatorio|length > 0 %}
                                <button style="border-radius: 50%; border: 0; background-color: lightgray;">
                                    <a href="{{ sessao_do_grupo.relatorio.url }}">
                                        &#128203;
                                    </a>
                                 </button>
                            {% else %}
                                &#10060;
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}